*,::after,::before {box-sizing:border-box}
:root {-moz-tab-size:4;-o-tab-size:4;tab-size:4}
html {line-height:1.15;-webkit-text-size-adjust:100%}
body {margin:0}
body {font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}
hr {height:0;color:inherit}
abbr[title] {-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
b,strong {font-weight:bolder}
code,kbd,pre,samp {font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}
small {font-size:80%}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub {bottom:-.25em}
sup {top:-.5em}
table {text-indent:0;border-color:inherit}
button,input,optgroup,select,textarea {font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,select {text-transform:none}
[type=button],[type=reset],[type=submit],button {-webkit-appearance:button}
legend {padding:0}
progress {vertical-align:baseline}
[type=search] {-webkit-appearance:textfield;outline-offset:-2px}
summary {display:list-item}
blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {margin:0}
button {background-color:transparent;background-image:none}
button:focus {outline:1px dotted;outline:5px auto -webkit-focus-ring-color}
fieldset {margin:0;padding:0}
ol,ul {list-style:none;margin:0;padding:0}
html {font-family:Poppins,sans-serif;line-height:1.5}
body {font-family:inherit;line-height:inherit}
*,::after,::before {box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}
hr {border-top-width:1px}
img {border-style:solid}
textarea {resize:vertical}
input::-moz-placeholder,textarea::-moz-placeholder {opacity:1;color:#9fa6b2}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {opacity:1;color:#9fa6b2}
input::placeholder,textarea::placeholder {opacity:1;color:#9fa6b2}
[role=button],button {cursor:pointer}
table {border-collapse:collapse}
h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight:inherit}
a {color:inherit;text-decoration:inherit}
button,input,optgroup,select,textarea {padding:0;line-height:inherit;color:inherit}
code,kbd,pre,samp {font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}
audio,canvas,embed,iframe,img,object,svg,video {display:block;vertical-align:middle}
img,video {max-width:100%;height:auto}
.container {width:100%}
@media (min-width:640px) {.container {max-width:640px}}@media (min-width:768px) {.container {max-width:768px}}@media (min-width:1024px) {.container {max-width:1024px}}@media (min-width:1280px) {.container {max-width:1280px}}@media (min-width:1536px) {.container {max-width:1536px}}.form-input {-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border-color:#d2d6dc;border-radius:.375rem;padding-top:.5rem;padding-right:.75rem;padding-bottom:.5rem;padding-left:.75rem;font-size:1rem;font-size:[object Object];line-height:1.5}
.form-input::-moz-placeholder {color:#9fa6b2;opacity:1}
.form-input:-ms-input-placeholder {color:#9fa6b2;opacity:1}
.form-input::placeholder {color:#9fa6b2;opacity:1}
.form-input:focus {outline:0;box-shadow:0 0 0 3px rgba(164,202,254,.45);border-color:#a4cafe}
.form-select {background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-print-color-adjust:exact;color-adjust:exact;background-repeat:no-repeat;background-color:#fff;border-color:#d2d6dc;border-radius:.375rem;padding-top:.5rem;padding-right:2.5rem;padding-bottom:.5rem;padding-left:.75rem;font-size:1rem;font-size:[object Object];line-height:1.5;background-position:right .5rem center;background-size:1.5em 1.5em}
.form-select::-ms-expand {color:#9fa6b2;border:none}
@media not print {.form-select::-ms-expand {display:none}}@media print and (-ms-high-contrast:active),print and (-ms-high-contrast:none) {.form-select {padding-right:.75rem}}.form-select:focus {outline:0;box-shadow:0 0 0 3px rgba(164,202,254,.45);border-color:#a4cafe}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {--tw-space-x-reverse:0;margin-right:calc(.5rem * var(--tw-space-x-reverse));margin-left:calc(.5rem * calc(1 - var(--tw-space-x-reverse)))}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {--tw-space-x-reverse:0;margin-right:calc(.75rem * var(--tw-space-x-reverse));margin-left:calc(.75rem * calc(1 - var(--tw-space-x-reverse)))}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse:0;margin-top:calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1.5rem * var(--tw-space-y-reverse))}
.space-x-10 > :not([hidden]) ~ :not([hidden]) {--tw-space-x-reverse:0;margin-right:calc(2.5rem * var(--tw-space-x-reverse));margin-left:calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))}
.divide-y-2 > :not([hidden]) ~ :not([hidden]) {--tw-divide-y-reverse:0;border-top-width:calc(2px * calc(1 - var(--tw-divide-y-reverse)));border-bottom-width:calc(2px * var(--tw-divide-y-reverse))}
.divide-y > :not([hidden]) ~ :not([hidden]) {--tw-divide-y-reverse:0;border-top-width:calc(1px * calc(1 - var(--tw-divide-y-reverse)));border-bottom-width:calc(1px * var(--tw-divide-y-reverse))}
.divide-gray-50 > :not([hidden]) ~ :not([hidden]) {--tw-divide-opacity:1;border-color:rgba(249,250,251,var(--tw-divide-opacity))}
.divide-spre-gray_light > :not([hidden]) ~ :not([hidden]) {--tw-divide-opacity:1;border-color:rgba(192,192,192,var(--tw-divide-opacity))}
.bg-white {--tw-bg-opacity:1;background-color:rgba(255,255,255,var(--tw-bg-opacity))}
.bg-spre-purple {--tw-bg-opacity:1;background-color:rgba(60,40,126,var(--tw-bg-opacity))}
.bg-spre-red {--tw-bg-opacity:1;background-color:rgba(204,31,48,var(--tw-bg-opacity))}
.bg-spre-brown_ultralight {--tw-bg-opacity:1;background-color:rgba(237,233,226,var(--tw-bg-opacity))}
.bg-spre-brown_dark {--tw-bg-opacity:1;background-color:rgba(74,74,73,var(--tw-bg-opacity))}
.bg-spre-white {--tw-bg-opacity:1;background-color:rgba(255,255,255,var(--tw-bg-opacity))}
.bg-spre-graybg {--tw-bg-opacity:1;background-color:rgba(245,245,245,var(--tw-bg-opacity))}
.bg-spre-footer {--tw-bg-opacity:1;background-color:rgba(247,247,247,var(--tw-bg-opacity))}
.hover\:bg-gray-50:hover {--tw-bg-opacity:1;background-color:rgba(249,250,251,var(--tw-bg-opacity))}
.hover\:bg-gray-100:hover {--tw-bg-opacity:1;background-color:rgba(244,245,247,var(--tw-bg-opacity))}
.hover\:bg-spre-red:hover {--tw-bg-opacity:1;background-color:rgba(204,31,48,var(--tw-bg-opacity))}
.hover\:bg-spre-red_hover:hover {--tw-bg-opacity:1;background-color:rgba(168,12,28,var(--tw-bg-opacity))}
.hover\:bg-spre-brown_ultralight:hover {--tw-bg-opacity:1;background-color:rgba(237,233,226,var(--tw-bg-opacity))}
.hover\:bg-spre-brown_light:hover {--tw-bg-opacity:1;background-color:rgba(221,217,207,var(--tw-bg-opacity))}
.hover\:bg-spre-brown:hover {--tw-bg-opacity:1;background-color:rgba(185,178,163,var(--tw-bg-opacity))}
.hover\:bg-spre-gray_ultralight:hover {--tw-bg-opacity:1;background-color:rgba(235,235,235,var(--tw-bg-opacity))}
.focus\:bg-gray-100:focus {--tw-bg-opacity:1;background-color:rgba(244,245,247,var(--tw-bg-opacity))}
.active\:bg-gray-100:active {--tw-bg-opacity:1;background-color:rgba(244,245,247,var(--tw-bg-opacity))}
.bg-opacity-50 {--tw-bg-opacity:0.5}
.border-transparent {border-color:transparent}
.border-black {--tw-border-opacity:1;border-color:rgba(0,0,0,var(--tw-border-opacity))}
.border-gray-200 {--tw-border-opacity:1;border-color:rgba(229,231,235,var(--tw-border-opacity))}
.border-spre-brown_dark {--tw-border-opacity:1;border-color:rgba(74,74,73,var(--tw-border-opacity))}
.border-spre-gray_light {--tw-border-opacity:1;border-color:rgba(192,192,192,var(--tw-border-opacity))}
.hover\:border-spre-red:hover {--tw-border-opacity:1;border-color:rgba(204,31,48,var(--tw-border-opacity))}
.focus\:border-blue-300:focus {--tw-border-opacity:1;border-color:rgba(164,202,254,var(--tw-border-opacity))}
.rounded-none {border-radius:0}
.rounded-md {border-radius:.375rem}
.rounded-lg {border-radius:.5rem}
.rounded-r-md {border-top-right-radius:.375rem;border-bottom-right-radius:.375rem}
.rounded-l-md {border-top-left-radius:.375rem;border-bottom-left-radius:.375rem}
.rounded-t-4xl {border-top-left-radius:4.375rem;border-top-right-radius:4.375rem}
.border-none {border-style:none}
.border {border-width:1px}
.border-b-2 {border-bottom-width:2px}
.border-b {border-bottom-width:1px}
.border-l {border-left-width:1px}
.box-content {box-sizing:content-box}
.cursor-pointer {cursor:pointer}
.block {display:block}
.flex {display:flex}
.inline-flex {display:inline-flex}
.table {display:table}
.grid {display:grid}
.hidden {display:none}
.flex-col {flex-direction:column}
.flex-wrap {flex-wrap:wrap}
.items-start {align-items:flex-start}
.items-end {align-items:flex-end}
.items-center {align-items:center}
.items-baseline {align-items:baseline}
.items-stretch {align-items:stretch}
.justify-start {justify-content:flex-start}
.justify-end {justify-content:flex-end}
.justify-center {justify-content:center}
.justify-between {justify-content:space-between}
.flex-1 {flex:1 1 0%}
.flex-grow {flex-grow:1}
.flex-shrink-0 {flex-shrink:0}
.font-light {font-weight:300}
.font-normal {font-weight:400}
.font-medium {font-weight:500}
.font-semibold {font-weight:600}
.font-bold {font-weight:700}
.h-5 {height:1.25rem}
.h-6 {height:1.5rem}
.h-12 {height:3rem}
.h-14 {height:3.5rem}
.h-28 {height:7rem}
.h-52 {height:13rem}
.h-64 {height:16rem}
.h-auto {height:auto}
.h-full {height:100%}
.text-xxs {font-size:.688rem}
.text-sm {font-size:.813rem}
.text-base {font-size:.938rem}
.text-lg {font-size:1.125rem}
.text-xl {font-size:1.25rem}
.text-xxl {font-size:1.438rem}
.text-2xl {font-size:1.625rem}
.text-3xl {font-size:2.063rem}
.text-4xl {font-size:2.625rem}
.text-5xl {font-size:3.125rem}
.leading-5 {line-height:1.25rem}
.leading-6 {line-height:1.5rem}
.leading-none {line-height:1}
.leading-tight {line-height:1.25}
.leading-snug {line-height:1.375}
.leading-normal {line-height:1.5}
.leading-relaxed {line-height:1.625}
.leading-loose {line-height:2}
.leading-1_4 {line-height:1.4}
.-m-3 {margin:-.75rem}
.my-2 {margin-top:.5rem;margin-bottom:.5rem}
.my-10 {margin-top:2.5rem;margin-bottom:2.5rem}
.my-12 {margin-top:3rem;margin-bottom:3rem}
.mx-auto {margin-left:auto;margin-right:auto}
.-my-2 {margin-top:-.5rem;margin-bottom:-.5rem}
.mt-0 {margin-top:0}
.mb-0 {margin-bottom:0}
.ml-0 {margin-left:0}
.mt-1 {margin-top:.25rem}
.mb-1 {margin-bottom:.25rem}
.mt-2 {margin-top:.5rem}
.mr-2 {margin-right:.5rem}
.mb-2 {margin-bottom:.5rem}
.mr-3 {margin-right:.75rem}
.ml-3 {margin-left:.75rem}
.mr-4 {margin-right:1rem}
.mb-4 {margin-bottom:1rem}
.mt-5 {margin-top:1.25rem}
.mb-5 {margin-bottom:1.25rem}
.mt-6 {margin-top:1.5rem}
.mt-8 {margin-top:2rem}
.mr-8 {margin-right:2rem}
.mb-8 {margin-bottom:2rem}
.ml-8 {margin-left:2rem}
.mt-10 {margin-top:2.5rem}
.mb-10 {margin-bottom:2.5rem}
.mt-12 {margin-top:3rem}
.mb-12 {margin-bottom:3rem}
.mb-13 {margin-bottom:3.25rem}
.mt-16 {margin-top:4rem}
.mb-16 {margin-bottom:4rem}
.mt-20 {margin-top:5rem}
.mt-24 {margin-top:6rem}
.-mr-2 {margin-right:-.5rem}
.-mb-14 {margin-bottom:-3.5rem}
.-mt-20 {margin-top:-5rem}
.-mb-20 {margin-bottom:-5rem}
.-ml-px {margin-left:-1px}
.max-h-full {max-height:100%}
.max-w-1100 {max-width:1100px}
.max-w-4xl {max-width:56rem}
.max-w-full {max-width:100%}
.max-w-8xl {max-width:87rem}
.opacity-0 {opacity:0}
.opacity-100 {opacity:1}
.hover\:opacity-100:hover {opacity:1}
.focus\:outline-none:focus {outline:2px solid transparent;outline-offset:2px}
.overflow-hidden {overflow:hidden}
.p-0 {padding:0}
.p-2 {padding:.5rem}
.p-3 {padding:.75rem}
.p-5 {padding:1.25rem}
.p-6 {padding:1.5rem}
.px-0 {padding-left:0;padding-right:0}
.py-1 {padding-top:.25rem;padding-bottom:.25rem}
.py-2 {padding-top:.5rem;padding-bottom:.5rem}
.px-4 {padding-left:1rem;padding-right:1rem}
.py-5 {padding-top:1.25rem;padding-bottom:1.25rem}
.px-5 {padding-left:1.25rem;padding-right:1.25rem}
.py-6 {padding-top:1.5rem;padding-bottom:1.5rem}
.px-6 {padding-left:1.5rem;padding-right:1.5rem}
.px-9 {padding-left:2.25rem;padding-right:2.25rem}
.py-10 {padding-top:2.5rem;padding-bottom:2.5rem}
.px-10 {padding-left:2.5rem;padding-right:2.5rem}
.py-12 {padding-top:3rem;padding-bottom:3rem}
.px-12 {padding-left:3rem;padding-right:3rem}
.py-16 {padding-top:4rem;padding-bottom:4rem}
.py-24 {padding-top:6rem;padding-bottom:6rem}
.py-1_5 {padding-top:.35rem;padding-bottom:.35rem}
.pt-0 {padding-top:0}
.pr-0 {padding-right:0}
.pl-0 {padding-left:0}
.pt-2 {padding-top:.5rem}
.pt-4 {padding-top:1rem}
.pb-4 {padding-bottom:1rem}
.pl-4 {padding-left:1rem}
.pt-5 {padding-top:1.25rem}
.pt-6 {padding-top:1.5rem}
.pb-6 {padding-bottom:1.5rem}
.pt-8 {padding-top:2rem}
.pr-8 {padding-right:2rem}
.pb-8 {padding-bottom:2rem}
.pl-8 {padding-left:2rem}
.pt-10 {padding-top:2.5rem}
.pr-10 {padding-right:2.5rem}
.pb-10 {padding-bottom:2.5rem}
.pl-10 {padding-left:2.5rem}
.pt-12 {padding-top:3rem}
.pr-12 {padding-right:3rem}
.pb-12 {padding-bottom:3rem}
.pl-12 {padding-left:3rem}
.pt-14 {padding-top:3.5rem}
.pt-16 {padding-top:4rem}
.pt-20 {padding-top:5rem}
.pb-20 {padding-bottom:5rem}
.pt-24 {padding-top:6rem}
.pb-28 {padding-bottom:7rem}
.pt-32 {padding-top:8rem}
.pb-36 {padding-bottom:9rem}
.pt-40 {padding-top:10rem}
.pb-40 {padding-bottom:10rem}
.pb-48 {padding-bottom:12rem}
.pb-64 {padding-bottom:16rem}
.pointer-events-none {pointer-events:none}
.absolute {position:absolute}
.relative {position:relative}
.inset-0 {top:0;right:0;bottom:0;left:0}
.inset-y-0 {top:0;bottom:0}
.inset-x-0 {right:0;left:0}
.top-0 {top:0}
.right-0 {right:0}
.bottom-0 {bottom:0}
.left-0 {left:0}
.bottom-4 {bottom:1rem}
.left-4 {left:1rem}
.right-6 {right:1.5rem}
.right-8 {right:2rem}
.top-72 {top:18rem}
.resize {resize:both}
* {--tw-shadow:0 0 #0000}
.shadow-sm {--tw-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.05);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.shadow-lg {--tw-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.shadow-spre {--tw-shadow:0 4px 10px 4px rgba(0, 0, 0, 0.1),0 2px 4px 2px rgba(0, 0, 0, 0.05);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.hover\:shadow-md:hover {--tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.hover\:shadow-spre:hover {--tw-shadow:0 4px 10px 4px rgba(0, 0, 0, 0.1),0 2px 4px 2px rgba(0, 0, 0, 0.05);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.focus\:shadow-outline-blue:focus {--tw-shadow:0 0 0 3px rgba(164, 202, 254, 0.45);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
* {--tw-ring-inset:var(--tw-empty, );--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(63, 131, 248, 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000}
.text-left {text-align:left}
.text-right {text-align:right}
.text-white {--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}
.text-gray-400 {--tw-text-opacity:1;color:rgba(159,166,178,var(--tw-text-opacity))}
.text-spre-purple_light {--tw-text-opacity:1;color:rgba(188,192,250,var(--tw-text-opacity))}
.text-spre-purple {--tw-text-opacity:1;color:rgba(60,40,126,var(--tw-text-opacity))}
.text-spre-red {--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.text-spre-brown_dark {--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity))}
.text-spre-white {--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}
.text-spre-gray_light {--tw-text-opacity:1;color:rgba(192,192,192,var(--tw-text-opacity))}
.group:hover .group-hover\:text-spre-red {--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.group:hover .group-hover\:text-spre-red {--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.hover\:text-white:hover {--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}
.hover\:text-gray-500:hover {--tw-text-opacity:1;color:rgba(107,114,128,var(--tw-text-opacity))}
.hover\:text-spre-purple_light:hover {--tw-text-opacity:1;color:rgba(188,192,250,var(--tw-text-opacity))}
.hover\:text-spre-red:hover {--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.focus\:text-gray-500:focus {--tw-text-opacity:1;color:rgba(107,114,128,var(--tw-text-opacity))}
.active\:text-gray-700:active {--tw-text-opacity:1;color:rgba(55,65,81,var(--tw-text-opacity))}
.truncate {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.italic {font-style:italic}
.uppercase {text-transform:uppercase}
.lowercase {text-transform:lowercase}
.underline {text-decoration:underline}
.visible {visibility:visible}
.whitespace-pre-line {white-space:pre-line}
.break-words {overflow-wrap:break-word}
.w-5 {width:1.25rem}
.w-6 {width:1.5rem}
.w-20 {width:5rem}
.w-auto {width:auto}
.w-1\/2 {width:50%}
.w-1\/3 {width:33.333333%}
.w-2\/3 {width:66.666667%}
.w-1\/4 {width:25%}
.w-3\/4 {width:75%}
.w-2\/5 {width:40%}
.w-3\/5 {width:60%}
.w-full {width:100%}
.z-0 {z-index:0}
.z-10 {z-index:10}
.z-20 {z-index:20}
.focus-within\:z-10:focus-within {z-index:10}
.focus-within\:z-10:focus-within {z-index:10}
.gap-20 {gap:5rem}
.gap-y-8 {row-gap:2rem}
.grid-cols-2 {grid-template-columns:repeat(2,minmax(0,1fr))}
.transform {--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;transform:translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}
.origin-top-right {transform-origin:top right}
.scale-95 {--tw-scale-x:.95;--tw-scale-y:.95}
.scale-100 {--tw-scale-x:1;--tw-scale-y:1}
.transition {transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:150ms}
.ease-in {transition-timing-function:cubic-bezier(.4,0,1,1)}
.ease-out {transition-timing-function:cubic-bezier(0,0,.2,1)}
.ease-in-out {transition-timing-function:cubic-bezier(.4,0,.2,1)}
.duration-100 {transition-duration:.1s}
.duration-150 {transition-duration:150ms}
.duration-200 {transition-duration:.2s}
@-webkit-keyframes spin {to {transform:rotate(360deg)}}@keyframes spin {to {transform:rotate(360deg)}}@-webkit-keyframes ping {100%,75% {transform:scale(2);opacity:0}}@keyframes ping {100%,75% {transform:scale(2);opacity:0}}@-webkit-keyframes pulse {50% {opacity:.5}}@keyframes pulse {50% {opacity:.5}}@-webkit-keyframes bounce {0%,100% {transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}
50% {transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}@keyframes bounce {0%,100% {transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}
50% {transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}.facebook {color:#547bba}
.twitter {color:#78c9ed}
.linkedin {color:#1382c5}
.snapchat {color:#fffc01}
.email,.instagram {color:#000}
.youtube {color:red}
.over-visible {overflow:visible!important}
.bareme .vc_col-sm-6 {padding-top:0!important;padding-bottom:0!important}
u {text-decoration:none;position:relative}
h1 u:after {position:absolute;content:'';height:13px;bottom:8px;left:10px;width:100%;z-index:-10;--tw-bg-opacity:1;background-color:rgba(221,217,207,var(--tw-bg-opacity))}
h2 u:after {position:absolute;content:'';height:13px;bottom:2px;left:10px;width:100%;z-index:-10;--tw-bg-opacity:1;background-color:rgba(237,233,226,var(--tw-bg-opacity))}
.footer-pseudo:after {content:'';display:block;position:absolute;top:0;bottom:0;right:0;left:50%;margin-left:280px;z-index:1;border-top-right-radius:60px;--tw-bg-opacity:1;background-color:rgba(204,31,48,var(--tw-bg-opacity))}
.pageInner {padding-left:1rem;padding-right:1rem;margin-left:auto;margin-right:auto;max-width:1100px}
.form {box-sizing:content-box;padding-left:1.5rem;padding-right:1.5rem;padding-top:2.5rem;padding-bottom:2.5rem;margin-left:auto;margin-right:auto;--tw-bg-opacity:1;background-color:rgba(255,255,255,var(--tw-bg-opacity));border-radius:.375rem;--tw-shadow:0 4px 10px 4px rgba(0, 0, 0, 0.1),0 2px 4px 2px rgba(0, 0, 0, 0.05);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity))}
.form .wpb_text_column {text-align:right}
.form .gfield {padding-top:1rem;padding-bottom:1rem}
.form .inline ul.gfield_radio {display:flex}
.form ul.gfield_radio li {margin-bottom:.75rem}
.form .inline ul.gfield_radio li {margin-bottom:0;margin-right:3rem}
.form ul.gfield_radio li input {margin-right:.5rem}
.form .gform_footer {display:flex;justify-content:flex-end}
.form .gfield > label {display:none}
.form ::-moz-placeholder {--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity));opacity:1}
.form :-ms-input-placeholder {--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity));opacity:1}
.form ::placeholder {--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity));opacity:1}
.form .gfield_contains_required .ginput_container_email input,.form .gfield_contains_required .ginput_container_text input {position:relative}
.form .gfield_contains_required .ginput_container_email input::after,.form .gfield_contains_required .ginput_container_text input::after {content:" *";color:red;position:absolute;right:0;top:0}
.form textarea {width:100%;height:8rem;padding:.75rem;border-width:1px;--tw-border-opacity:1;border-color:rgba(74,74,73,var(--tw-border-opacity))}
.form .ginput_container_email input,.form .ginput_container_text input {width:100%}
.form .ginput_container_email input,.form .ginput_container_text input {height:2.5rem}
.form .ginput_container_email input,.form .ginput_container_text input {border-bottom-width:1px}
.form .ginput_container_email input,.form .ginput_container_text input {--tw-border-opacity:1;border-color:rgba(74,74,73,var(--tw-border-opacity))}
.form select {width:100%;height:2.5rem;border-bottom-width:1px;--tw-border-opacity:1;border-color:rgba(74,74,73,var(--tw-border-opacity))}
.form .gform_footer {display:flex}
.form .gform_button {display:inline-flex;align-items:center;justify-content:center;padding-top:.5rem;padding-bottom:.5rem;font-size:.938rem;font-weight:500;line-height:1.5rem;white-space:nowrap;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:150ms;transition-duration:150ms;transition-timing-function:cubic-bezier(.4,0,.2,1);border-width:1px;border-color:transparent;border-radius:.375rem;padding-left:2.25rem;padding-right:2.25rem;--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity));--tw-bg-opacity:1;background-color:rgba(74,74,73,var(--tw-bg-opacity))}
.form .gform_button:hover {--tw-bg-opacity:1;background-color:rgba(185,178,163,var(--tw-bg-opacity))}
@media (min-width:640px) {.form {padding-left:2.5rem;padding-right:2.5rem}}.form .validation_error {padding-top:1.5rem;padding-bottom:1.5rem;--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.form .gform_confirmation_message {padding-top:6rem;padding-bottom:6rem}
.form .validation_message {padding-top:.5rem;padding-bottom:.5rem;--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity));font-style:italic;font-size:.813rem}
body img.gform_ajax_spinner {width:2.5rem;height:2.5rem;margin-left:1rem}
@media (min-width:640px) {.pageInner {padding-left:0;padding-right:0}}.vc_tta.vc_general {border:none!important}
.vc_tta-panel {position:relative!important;margin-bottom:1.5rem!important}
.vc_tta-panel .vc_tta-panel-heading {border-radius:6px!important;background-color:#3c287e!important}
.select-chevron {background-image:url(/wp-content/themes/spre/assets/images/svg/icons/chevron_down_black.svg);background-repeat:no-repeat;background-size:auto}
.vc_tta-panel-title.vc_tta-controls-icon-position-left {position:relative;z-index:4}
.vc_tta-panel .vc_tta-panel-heading::after {content:'';position:absolute;right:20px;width:30px;height:20px;z-index:2;top:25px;background:url(/wp-content/themes/spre/assets/images/svg/icons/chevron_down.svg);background-repeat:no-repeat}
.vc_tta-panel.vc_active .vc_tta-panel-heading::after {content:'';position:absolute;right:20px;width:30px;height:20px;z-index:2;top:25px;background:url(/wp-content/themes/spre/assets/images/svg/icons/chevron_up.svg);background-repeat:no-repeat}
.vc_tta-panel.vc_active .vc_tta-panel-heading {background-color:#cc1f2f!important}
.vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a {font-weight:600!important;font-size:23px!important;padding:1.25rem!important;color:#fff!important}
.vc_tta-panel .vc_tta-panel-body {padding:2rem 1.25rem!important;background-color:#fff!important;border:none!important}
.vc_tta-panel .vc_tta-controls-icon {display:none!important}
.spre_paragraph {font-size:.938rem;font-weight:300;line-height:1.8;--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity))}
.spre_section_title_red {font-size:2.063rem;font-weight:600;line-height:1.5;--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.spre_h3_title_red {font-weight:600;line-height:1.5;font-size:1.438rem;--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.spre_chapeau {font-size:1.125rem;font-weight:400;line-height:1.5;--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity))}
.spre_chapeau_purple {font-size:1.125rem;font-weight:400;line-height:1.5;--tw-text-opacity:1;color:rgba(60,40,126,var(--tw-text-opacity))}
.menu-menu-principal li.menu-item {display:inline-flex;align-items:center;font-size:.938rem;font-weight:600;line-height:1.5rem;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:150ms;transition-duration:150ms;transition-timing-function:cubic-bezier(.4,0,.2,1);border-bottom-width:2px;border-color:transparent;--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.menu-menu-principal li.current_page_item,.menu-menu-principal li.menu-item:hover {border-bottom-width:2px;--tw-border-opacity:1;border-color:rgba(204,31,48,var(--tw-border-opacity))}
.menu-menu-droite li.menu-item {display:inline-flex;align-items:center;font-size:.813rem;font-weight:600;line-height:1.5rem;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:150ms;transition-duration:150ms;transition-timing-function:cubic-bezier(.4,0,.2,1);--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity))}
.menu-menu-droite li.menu-item:hover {text-decoration:underline;--tw-text-opacity:1;color:rgba(35,35,35,var(--tw-text-opacity))}
.menu-menu-droite-mobile li.menu-item,.menu-menu-principal-mobile li.menu-item {display:flex;align-items:center;padding:.75rem;margin:-.75rem;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:150ms;transition-duration:150ms;transition-timing-function:cubic-bezier(.4,0,.2,1);border-radius:.375rem}
.menu-menu-droite-mobile li.menu-item:hover,.menu-menu-principal-mobile li.menu-item:hover {--tw-bg-opacity:1;background-color:rgba(249,250,251,var(--tw-bg-opacity))}
.menu-menu-principal-mobile li.menu-item a {width:100%;font-size:.938rem;font-weight:600;line-height:1.5rem;--tw-text-opacity:1;color:rgba(204,31,48,var(--tw-text-opacity))}
.menu-menu-droite-mobile li.menu-item a {width:100%;font-size:.813rem;font-weight:600;line-height:1.5rem;--tw-text-opacity:1;color:rgba(74,74,73,var(--tw-text-opacity))}
footer .menu-footer li.menu-item {margin-bottom:1rem;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:150ms;transition-duration:150ms;transition-timing-function:cubic-bezier(.4,0,.2,1)}
footer .menu-footer li.menu-item:hover,footer .menu-footer-bottom li.menu-item:hover,footer .menu-footer-right1 li.menu-item:hover,footer .menu-footer-right2 li.menu-item:hover {text-decoration:underline}
footer .menu-footer li.menu-item:hover,footer .menu-footer-bottom li.menu-item:hover,footer .menu-footer-right1 li.menu-item:hover,footer .menu-footer-right2 li.menu-item:hover {--tw-text-opacity:1;color:rgba(35,35,35,var(--tw-text-opacity))}
@media (min-width:640px) {.sm\:text-sm {font-size:.813rem}
.sm\:text-4xl {font-size:2.625rem}
.sm\:leading-5 {line-height:1.25rem}
.sm\:mt-0 {margin-top:0}
.sm\:mb-12 {margin-bottom:3rem}
.sm\:px-6 {padding-left:1.5rem;padding-right:1.5rem}
.sm\:px-12 {padding-left:3rem;padding-right:3rem}
.sm\:w-1\/4 {width:25%}
.sm\:w-3\/4 {width:75%}}@media (min-width:768px) {.md\:mt-0 {margin-top:0}
.md\:ml-8 {margin-left:2rem}
.md\:pb-20 {padding-bottom:5rem}
.md\:right-1\/3 {right:33.333333%}
.md\:w-auto {width:auto}
.md\:w-1\/2 {width:50%}}@media (min-width:1024px) {.lg\:space-x-10 > :not([hidden]) ~ :not([hidden]) {--tw-space-x-reverse:0;margin-right:calc(2.5rem * var(--tw-space-x-reverse));margin-left:calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))}
.lg\:divide-x-2 > :not([hidden]) ~ :not([hidden]) {--tw-divide-x-reverse:0;border-right-width:calc(2px * var(--tw-divide-x-reverse));border-left-width:calc(2px * calc(1 - var(--tw-divide-x-reverse)))}
.lg\:divide-white > :not([hidden]) ~ :not([hidden]) {--tw-divide-opacity:1;border-color:rgba(255,255,255,var(--tw-divide-opacity))}
.lg\:bg-transparent {background-color:transparent}
.lg\:block {display:block}
.lg\:flex {display:flex}
.lg\:grid {display:grid}
.lg\:hidden {display:none}
.lg\:items-end {align-items:flex-end}
.lg\:items-center {align-items:center}
.lg\:justify-start {justify-content:flex-start}
.lg\:flex-1 {flex:1 1 0%}
.lg\:h-20 {height:5rem}
.lg\:mt-0 {margin-top:0}
.lg\:mr-0 {margin-right:0}
.lg\:mb-0 {margin-bottom:0}
.lg\:ml-6 {margin-left:1.5rem}
.lg\:ml-8 {margin-left:2rem}
.lg\:-mt-6 {margin-top:-1.5rem}
.lg\:-ml-12 {margin-left:-3rem}
.lg\:py-0 {padding-top:0;padding-bottom:0}
.lg\:px-0 {padding-left:0;padding-right:0}
.lg\:px-2 {padding-left:.5rem;padding-right:.5rem}
.lg\:px-8 {padding-left:2rem;padding-right:2rem}
.lg\:pl-0 {padding-left:0}
.lg\:pl-5 {padding-left:1.25rem}
.lg\:pr-10 {padding-right:2.5rem}
.lg\:pb-16 {padding-bottom:4rem}
.lg\:absolute {position:absolute}
.lg\:right-1\/3 {right:33.333333%}
.lg\:text-right {text-align:right}
.lg\:w-0 {width:0}
.lg\:w-1\/2 {width:50%}
.lg\:w-1\/3 {width:33.333333%}
.lg\:w-1\/4 {width:25%}
.lg\:w-1\/5 {width:20%}
.lg\:gap-8 {gap:2rem}
.lg\:grid-cols-2 {grid-template-columns:repeat(2,minmax(0,1fr))}
.lg\:grid-cols-3 {grid-template-columns:repeat(3,minmax(0,1fr))}
.lg\:grid-cols-4 {grid-template-columns:repeat(4,minmax(0,1fr))}
.lg\:col-span-1 {grid-column:span 1/span 1}
.lg\:col-span-2 {grid-column:span 2/span 2}
.lg\:col-span-3 {grid-column:span 3/span 3}}@media (min-width:1280px) {.xl\:space-x-5 > :not([hidden]) ~ :not([hidden]) {--tw-space-x-reverse:0;margin-right:calc(1.25rem * var(--tw-space-x-reverse));margin-left:calc(1.25rem * calc(1 - var(--tw-space-x-reverse)))}
.xl\:space-x-6 > :not([hidden]) ~ :not([hidden]) {--tw-space-x-reverse:0;margin-right:calc(1.5rem * var(--tw-space-x-reverse));margin-left:calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))}
.xl\:space-x-12 > :not([hidden]) ~ :not([hidden]) {--tw-space-x-reverse:0;margin-right:calc(3rem * var(--tw-space-x-reverse));margin-left:calc(3rem * calc(1 - var(--tw-space-x-reverse)))}
.xl\:divide-y > :not([hidden]) ~ :not([hidden]) {--tw-divide-y-reverse:0;border-top-width:calc(1px * calc(1 - var(--tw-divide-y-reverse)));border-bottom-width:calc(1px * var(--tw-divide-y-reverse))}
.xl\:divide-x > :not([hidden]) ~ :not([hidden]) {--tw-divide-x-reverse:0;border-right-width:calc(1px * var(--tw-divide-x-reverse));border-left-width:calc(1px * calc(1 - var(--tw-divide-x-reverse)))}
.xl\:divide-spre-gray_light > :not([hidden]) ~ :not([hidden]) {--tw-divide-opacity:1;border-color:rgba(192,192,192,var(--tw-divide-opacity))}
.xl\:flex {display:flex}
.xl\:grid {display:grid}
.xl\:ml-8 {margin-left:2rem}
.xl\:gap-5 {gap:1.25rem}
.xl\:gap-8 {gap:2rem}
.xl\:gap-16 {gap:4rem}
.xl\:grid-cols-2 {grid-template-columns:repeat(2,minmax(0,1fr))}
.xl\:grid-cols-3 {grid-template-columns:repeat(3,minmax(0,1fr))}}
