@import "normalize.min.less";
// @import "elements.less";
// @import "colors.less";
// @import "fonts.less";
// @import "grid.less";
// @import "headers.less";
// @import "buttons.less";
// // @import "animations.less";

// @ease_cubic: cubic-bezier(0.79, 0.01, 0.13, 1.03);
// @ease_cubic_late: cubic-bezier(0.86, 0.04, 0.5, 0.88);

// img.left { padding-right: 15px; padding-bottom: 15px; }
// img.round { .rounded(50%); }

// // Inline SVG code images in LESS CSS
// // @author Matt Scheurich <matt@lvl99.com> (http://lvl99.com)
// // Github: https://github.com/lvl99/less-inline-svg-code
// .inline-svg-code( @code ) {
//   @-svg-code: escape(~'<?xml version="1.0" ?>@{code}');
//   @-inline-svg-code: ~'data:image/svg+xml,@{-svg-code}';
//   @-inline-svg-url: ~"url('@{-inline-svg-code}')";
// }

// .svgBg(@code){
//   .inline-svg-code(@code);
//   // Apply the background image using the `@-inline-svg-url` variable
//   background-image: @-inline-svg-url;
// }

// ::selection { background: @orange; color: white; }
// ::-moz-selection { background: @orange; color: white; }
    
// .svgLoadersPoints{ background: transparent url('../images/loading/points.svg') center center no-repeat!important; background-size: 60px auto!important; }
// .svgLoadersPointsOrange{ background: transparent url('../images/loading/points_orange.svg?v=02') center center no-repeat!important; background-size: 60px auto!important; }

// .bgCover{ background-position: center center; background-repeat: no-repeat; background-size: cover; }
// .bgContain{ background-position: center center; background-repeat: no-repeat; background-size: contain; }
// .bgFull{ background-size: 100% 100%; }
// .fullWidth { width: 100%; }
// .fullHeight { height: 100%; }
// .italic { font-style: italic; }
// .noStyle { font-style: normal; }
// .boxShadow{ .box-shadow(0 0 15px rgba(0, 0, 0, .25)); }
// .boxShadowLarge{ .box-shadow(0 0 20px rgba(0, 0, 0, .12)); }  
// .boxShadowvLarge{ .box-shadow(0 0 70px rgba(0, 0, 0, .08)); }
// .boxShadowLargeStrong{ .box-shadow(0 0 20px rgba(0, 0, 0, .5)); }
// .boxShadowLight{ .box-shadow(0 0 8px rgba(0, 0, 0, .15)); }
// .noShadow{ .box-shadow(0 0 0 rgba(0, 0, 0, 0)); }
// .innerboxShadow{ .box-shadow(inset 0 0 15px rgba(0, 0, 0, .4)); }
// .left { float: left; }
// .right { float: right; }
// .noFloat { float: none!important; }
// .textCenter { text-align: center; >p{text-align: center;} }
// .textLeft { text-align: left; }
// .textJustify { text-align: justify; }
// .textRight { text-align: right; }
// .center { .textCenter; }
// .centered { float: none; margin: 0 auto; }
// .middle{ vertical-align: middle; }
// .baseline{ vertical-align: baseline; }
// .vTop{ vertical-align: top; }
// .clear{ clear: both; }
// .inline{ display: inline; }
// .inlineBlock{ display: inline-block; }
// .block{ display: block; }
// .flex{ display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; }
// .uppercase{ text-transform: uppercase; }
// .noTransform{ text-transform: none; }
// .relative{ position: relative; }
// .absolute{ position: absolute; }
// .absoluteFull{ .absolute; top: 0; right: 0; bottom: 0; left: 0; }
// .fixed{ position: fixed; }
// .fixedFull{ .fixed; top: 0; right: 0; bottom: 0; left: 0; }
// .static{ position: static; }
// .hidden{ display: none; }
// .hiddenImportant{ display: none!important; }
// .bolder{ font-weight: 800; }
// .bold{ font-weight: 700; }
// .semiBold{ font-weight: 600; }
// .medium{ font-weight: 500; }
// .regular{ font-weight: normal; }
// .thin{ font-weight: 300; strong{ .bold; } }
// .thinner{ font-weight: 100; strong{ .bold; } }
// .italic{ font-style: italic; }
// .underline{ text-decoration: underline; }
// .noUnderline{ text-decoration: none; }
// .alignleft, .alignLeft{ .left; margin: 0 30px 10px 0!important; }
// .alignright, .alignRight{ .right; margin: 0 0 10px 30px!important;  }
// .aligncenter { .block; margin-left: auto; margin-right: auto; }
// .table{ display: table; }
// .tableCell{ display: table-cell; }
// .collapse{ border-collapse: collapse; }
// .pointer{ cursor: pointer; }
// .noStyleList{ list-style: none; margin: 0; padding: 0; .block; >li{ .block; margin: 0; padding: 0; }}
// .floatLeftList{ .noStyleList; >li{ .left; }}
// .floatRightList{ .noStyleList; >li{ .right; }}
// .inlineBlockList{ .noStyleList; .inlineBlock; >li{ display: inline-block!important; .middle; }}
// .tableList{ .noStyleList; .table; width: 100%; margin: 0; .collapse; >li{ .tableCell; padding: 0; .center; }}
// .borderBox{ box-sizing: border-box; }
// .placeholder(@color){
//   &::-webkit-input-placeholder { color: @color; }
//   &:-moz-placeholder { color: @color; opacity: 1; }
//   &::-moz-placeholder { color: @color; opacity: 1; }
//   &:-ms-input-placeholder { color: @color; }
// }
// .noOutline{ &:focus, &:active, a:hover{ outline: none!important; } }
// .noAppearance{ appearance: none;  -moz-appearance: none; -webkit-appearance: none; }
// .noSelect{ user-select: none; }
// .noPadding, .no_padding{ padding: 0!important; }
// .noPaddingTop{ padding-top: 0!important; }
// .noPaddingRight{ padding-right: 0!important; }
// .noPaddingBottom{ padding-bottom: 0!important; }
// .noPaddingLeft{ padding-left: 0!important; }
// .noMargin, .no_margin{ margin: 0!important; }
// .noMarginH{ margin-left: 0!important; margin-right: 0!important; }
// .noMarginV{ margin-top: 0!important; margin-bottom: 0!important; }
// .noMarginTop { margin-top: 0; }
// .noMarginBottom { margin-bottom: 0; }
// .noBorder{ border: none; }
// .noTransition{ .transition(0s); }
// .noWrap{ white-space: nowrap; }
// .ellipsis{ text-overflow: ellipsis; }

// *{ .borderBox; }

// .clearBefore{
//   &:before{ .table; line-height: 0; content: ""; .clear; }
// }
// .clearAfter{
//   &:after{ .table; line-height: 0; content: ""; .clear; }
// }

// .shadowTop{
//   &:before{
//     content: '';
//     .block;
//     .absolute;
//     top: 0; height: 130px;
//     left: 0; right: 0; width: 100%;
//     z-index: 1;
//     .gradient(transparent, transparent, rgba(0, 0, 0, .08));
//   }
// }
// .shadowBottom{
//   &:after{
//     content: '';
//     .block;
//     .absolute;
//     bottom: 0; height: 140px;
//     left: 0; right: 0; width: 100%;
//     z-index: 1;
//     .gradient(transparent, rgba(0, 0, 0, .1), transparent);
//   }
// }

// .noMarginFirstLast{
//   >*:first-child{ margin-top: 0; }
//   >*:last-child{ margin-bottom: 0; }
//   >h2, >h3, >p{ &:first-child{ margin-top: 0; } }
//   >h2, >h3, >p{ &:last-child{ margin-bottom: 0; } }
//   /* >h2, >h3, >p{ &:first-child{ margin-top: 0; } }
//   >h2, >h3, >p{ &:last-child{ margin-bottom: 0; } } */
// }

// hr, .vc_separator{
//   .block; .clear;
//   margin: 30px auto;
//   border: none;
//   width: 35px!important; height: 4px;
//   background: @orange;
//   .clearAfter; .clearBefore;
//   > span{ display: none !important; }
// }

// .pageInner{
//   .relative; .borderBox;
//   margin: 0 auto;
//   width: 1230px;
//   .textLeft;
//   .noMarginFirstLast;
//   &.narrow{ max-width: 900px; }
//   @media screen and (max-width: 1260px){
//     width: 100%; 
//     padding-left: 15px; padding-right: 15px; 
//     // overflow: hidden;
//   }
// }

// .espace, .espace5,.espace10,.espace15,.espace20,.espace25,.espace30,.espace40,
// .espace50,.espace60,.espace70,.espace80,.espace100,.espace150{ 
//   line-height: 0; clear: both; 
//   +h1, +h2, +h3, +h4, +.h1, +.h2, +.h3, +.h4 { margin-top: 0!important; }
// }
// .espace5{ padding-top: 5px!important; }
// .espace10{ padding-top: 10px!important; }
// .espace15{ padding-top: 15px!important; }
// .espace20{ padding-top: 20px!important; }
// .espace25{ padding-top: 25px!important; }
// .espace30{ padding-top: 30px!important; }
// .espace40{ padding-top: 40px!important; }
// .espace50{ padding-top: 50px!important; }
// .espace60{ padding-top: 60px!important; }
// .espace70{ padding-top: 70px!important; }
// .espace80{ padding-top: 80px!important; }
// .espace100{ padding-top: 100px!important; }
// .espace150{ padding-top: 150px!important; }

// .bulletsList{
//   .noStyleList;
//    margin: 30px 0 20px 23px;
//    padding: 0;
//    > li{
//      margin: 0;
//      padding: 0 0 10px 0;
//      .relative;
//      &:before{
//        content: "-"; 
//        .inlineBlock; .middle;
//        color: @orange;
//        .absolute;
//        top: 2px; left: -15px;
//      }
//      > ul{
//        margin-left: 80px;
//        > li{
//          &:before{
//            content: ">";
//            width: auto; height: auto;
//            background: transparent;
//          }
//        }
//      }
//    }
//    @media screen and (max-width: 991px){
//      margin-left: 20px;
//      > li{
//       > ul{
//         margin-left: 60px;
//       }
//      }
//    }
//    @media screen and (max-width: 767px){
//      margin-left: 20px;
//      > li{
//       > ul{
//         margin-left: 40px;
//       }
//      }
//    }
//  }
//   .bulletsListAlt{
//     .bulletsList;
//     > li{
//       margin: 0;
//       padding: 0 0 10px 0;
//       .relative;
//       &:before{
//         content: ""; 
//         .inlineBlock; .middle;
//         width: 8px; height: 8px;
//         background: @orange;
//         .rounded(50%);
//         top: 8px; left: -20px;
//       }
//     }
//   }
//   .bulletsListYellow{
//     .bulletsList;
//     >li:before{ 
//       background-color: @orange;
//     }
//   }

//   .wpb_text_column>.wpb_wrapper{ .noMarginFirstLast; }
  
// .smallText{
//   font-size: .8em;
//   p{ margin: 5px 0; line-height: 1.6em; }
// }

// img.ratioImg{ .block; width: 100%; height: auto; }