
  
.buttonOrangeState{ background: transparent; border-color: transparent; color: @orange!important; }
.buttonOrangeBgState{ background: @orange; border-color: @orange; color: white!important; }
.buttonBlueBgState{ background: @blue; border-color: @blue; color: white!important; }
.buttonWhiteState{ background: transparent; border-color: white; color: white!important; }
.buttonWhiteBgState{ background: white; border-color: white; color: @orange!important; }

.buttonLoading{  
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  min-height: 42px;
  .svgLoadersPointsOrange;
  .transition(0s);
  .noShadow; .noOutline;
}
  .buttonLoadingWhite{
    .svgLoadersPoints;
  }

.button, input[type=submit], input[type=submit], button:not(.link){
  .relative;
  .transition(.1s);
  .inlineBlock;
  .middle;
  .pointer;
  text-decoration: none!important;
  .textCenter;
  font-style: normal;
  .noOutline; .noAppearance;
  .rounded(34px);
  font-size: 16px; .bold;
  letter-spacing: 1px;
  padding: 10px 36px;
  line-height: 20px;
  min-height: 40px;
  min-width: 70px;
  .borderBox;
  border: 1px solid transparent;
  .buttonOrangeBgState; &:hover{ .buttonBlueBgState; }
  &.blue{
    .buttonBlueBgState; &:hover{ .buttonOrangeBgState; }
  }
  &.loading{ .buttonLoading; }
  &.small{
    font-size: 13px; .medium;
    padding: 8px 20px;
    min-height: 30px;
  }
  @media screen and (max-width: 767px){
  }
}
    .button:hover, .button:focus, a:hover .button, a:focus .button{ color: @orange; }

.linkBlueState{
  color: @blue_dark;
  svg{
    circle{
      fill: @blue_dark;
    }
    path, line{ stroke: white; }
  }
}
.linkWhiteState{
  color: white;
  svg{
    circle{
      fill: white;
    }
    path, line{ stroke: @orange; }
  }
}

.link{
  .relative;
  .transition(.1s);
  .inlineBlock;
  .middle; .pointer;
  text-decoration: none!important;
  .noOutline; .noAppearance;
  font-size: 15px; .bold;
  letter-spacing: .5px;
  color: @orange;
  background: none;
  border: none;
  svg{
    .inlineBlock; .middle;
    .transition(.1s);
    max-width: 2"4"px;
  }
  &:not(.picto){
    svg{ margin-left: 10px; }
  }
  @media screen and (min-width: 768px){
    + .link{ margin-left: 40px; }
  }
  @media screen and (max-width: 767px){
    .block;
    + .link{ margin-top: 15px; }
  }
}
  a:hover .link, .link:hover{
    .linkBlueState;
  }

button.fancybox-button{
  background: transparent !important;
  padding: 0 !important;
  min-width: 0 !important;
  min-height: 0 !important;
  border: none !important;
}