@import "chosen-original.less";

.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background-image: url('../js/chosen/chosen-sprite.png?v=2')!important;
}
    
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('../js/chosen/chosen-sprite@2x.png?v=2')!important;
  }
}

/* Custo Elax */

.chosen-select{
  width: 100%;
}

.chosen-container-multi{
  .relative;
  .chosen-choices{
    background: @blue_light;
    border: none;
    padding: 5px 38px 5px 10px;
    .noShadow;
    li.search-field input[type="text"]{ 
      color: black; line-height: 30px; font-size: 16px;
      .italic;
      letter-spacing: .5px;
      color: @grey;
    }
    li.search-choice{
      margin: 5px 5px 2px 0!important;
      padding: 5px 24px 5px 9px!important;
      background: @orange;
      border: none!important;
      color: white;
      .rounded(0);
      .noShadow;
      .search-choice-close{
        .transition(0s);
        top: 6px;
        /* width: 9px; height: 9px;
        background-image: url('../images/sprite2.png?v=007')!important;
        background-position: -572px -67px!important;
        top: 7px; right: 6px;
        &:hover{ .opacity(.5); } */
      }
    }
  }
  &:hover:after{ color: black; }
}
.chosen-container-multi .chosen-choices li.search-field{
  input[type="text"]{
    margin: 4px 0;
  }
}
.chosen-container-multi:not(.chosen-container-active) .chosen-choices li.search-field{
  .noFloat;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"]{
  color: black!important;
  font-style: normal;
}

.chosen-container .chosen-results{
  padding: 0 10px 10px 10px;
  color: black!important;
  li{
    padding: 10px 0 2px 0;
    &.highlighted{
      background: none;
      color: black;
    }
    &:hover{
      color: black!important;
      background: none;
    }
    &.no-results{
      color: black;
      background: none;
      padding-top: 13px;
    }
  }
}
    .chosen-container-multi .chosen-drop{
      border: none;
      .chosen-results .result-selected{ color: @grey_light!important; }
    }
    /* .mission  .chosen-container .chosen-results{
      li{
        &:first-child{
          color: white;
          background: none;
          border-bottom: 1px solid black;
          padding: 10px 0;
          .bold;
        }
      }
    } */