@green_dark: #004020;
@green: #7CA209;
@green_light: #D7E3B5;
@green1: #63B292;
@green2: #CDD800;
@green3: #A1D65C;

@grey_vlight: #EBEBEB;
@grey_light: #EBEBEB;
@grey: #8C9599;
@grey_dark: #515262;
@grey_vdark: #262626;
@grey_transp: fade(@grey_dark, 60%);

@bg_color: @blue;
@text_color: @grey_dark;
@color_placeholder: @grey;

@success: green;
@error: red;

@menu_button_color: @orange;

@color_facebook: #547BBA;
@color_twitter: #78C9ED;
@color_linkedin: #1382C5;
@color_snapchat: #FFFC01;
@color_instagram: #000;
@color_github: #000;
@color_youtube: #FF0000;

/*************************/

@transp_opacity: .9;

@white_transp_strong: rgba(255, 255, 255, .96);
@white_transp: rgba(255, 255, 255, @transp_opacity);
@white_transp_light: rgba(255, 255, 255, .8);
@white_transp_vlight: rgba(255, 255, 255, .17);
@black_transp_strong: rgba(19, 24, 27, .96);
@black_transp: rgba(19, 24, 27, @transp_opacity);
@black_transp_light: rgba(19, 24, 27, .4);
@bg_dark_transp: rgba(19, 24, 27, .5);
@grey_transp: rgba(89, 89, 89, .8);

@error: #FF3033;
@error_bg: #FFC6C7;

.whiteContent{
  color: white;
  a, h2, h3, h4, .h1, .h2, .h3, .h4, .h5,
  .gform_wrapper .gform_fields li.gfield .ginput_container.ginput_container_radio .gfield_radio li label,
  h2:not(.h3):not(.h1), h3:not(.h2):not(.h4), .largeText{ 
    color: white;
    &.bordered{ border-color: white; }
  }
  hr{ border-color: white; }
  .button:not(.white_bg):hover{ .buttonWhiteBgState; }
}
.darkContent{
  color: @text_color;
  a, h2, h3, h4, .h1, .h2, .h3, .h4, .h5,
  .gform_wrapper .gform_fields li.gfield .ginput_container.ginput_container_radio .gfield_radio li label,
  h2:not(.h3):not(.h1), h3:not(.h2):not(.h4), .largeText{ 
    // color: white;
    &.bordered{ border-color: @text_color; }
  }
}

.blackBg, .darkBg{
  background-color: black;
  .whiteContent;
}
.whiteBg {
  .darkContent;
  background: white;
}

.greenBg{
  .whiteContent;
  background: @green;
}
.whiteBg{
  background: white;
}
.greyLightBg{
  background: @grey_vlight;
}