.checkbox, .radio {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 5px;
  .bgContain;
  .inlineBlock; .middle;
  .relative; top: 0;
}
  .checkbox{ background: url(../images/forms/checkbox.svg); }
  .radio{ background: url(../images/forms/radio.svg); }
    input.styled{ display: none!important; }

.selectWrapper{ .inlineBlock; }

input[type=radio].styled, input[type=checkbox].styled{ .opacity(0); }

.select {
  .inlineBlock; .borderBox;
  width: 100%; height: 50px;
  max-width: 100%;
  padding: 18px 35px 17px 0;
  overflow: hidden;
  margin: 0;
  .noStyle;
  font-size: 18px;
  line-height: 14px;
  z-index: 1;
  .absolute;
  .textLeft;
  .transition(.2s);
  .rounded(0);
  color: @text_color;
  border: none;
  border-bottom: 1px solid @blue;
  background: white;
  .noWrap; .ellipsis;
  &:after{
    content: '';
    width: 15px; height: 7px;
    .absolute;
    top: 50%; .translate(0, -50%);
    right: 15px;
    background: right center url('../images/svg/arrow_simple_bottom.svg') no-repeat;
    background-size: contain;
  }
}
  .ginput_container_select:hover .select{ border-color: @blue_dark; }
  select.styled{ .opacity(0); height: 50px !important; width: 100% !important; }