.datepicker{ width: 100%; }

.dp-note {
  .absolute;
  background: @orange;
  width: 4px;
  height: 4px;
  .rounded(50%);
  left: 50%;
  bottom: 2px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.-selected- .dp-note {
  bottom: 3px;
  background: #fff;
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-{ 
  background: @blue;
  &:hover{ background: @blue_dark; }
}
.datepicker--cell.-current-{ color: @blue; }
.datepicker--day-name{ color: @orange; }