.formTitle{
    padding-left: 110px;
    color: @text_color;
    font-size: 52px;
    margin-bottom: 50px;
    .thin;
}

form{
    input[type=text], input[type=email], input[type=password], input[type=number],
    input[type=tel], input[type=search], textarea{
      .regular;
      .borderBox;
      background: none;
      border: none;
      border-bottom: 1px solid @blue;
      width: 100%; height: 42px;
      .borderBox;
      padding: 0 0 6px 0;
      margin: 0 0 14px 0;
      font-size: 16px;
      line-height: 17px;
      box-shadow: none;
      .noOutline;
      .transition(.1s);
      .rounded(0);
      -webkit-appearance: none;
      color: black;
      .placeholder(@grey);
      &:hover{ border-color: @blue_dark; }
      &:focus{ border-color: @blue_dark; }
      // &[aria-invalid=true]{ border-color: @error; border-width: 2px; }
    }
    textarea{
      font-weight: normal !important;
      min-width: 100%; max-width: 100%; height: 100px!important; resize: none; line-height: 130%;
    }
    input[type="submit"]{
        margin-top: 15px;
    }
}

.subscriptionForm{
  &:not(.valid) .gform_footer {
    .relative;
    input[type="submit"], button{ .relative; z-index: 1; }
    &:after{
      content: ''; .block;
      .absoluteFull; z-index: 9;
      background: rgba(255, 255, 255, .4);
    }
  }
}
  .newsletterBottom .subscriptionForm:not(.valid) .gform_footer:after{ background: transparent; }

/* input[type=file]{ color: @blue_dark; .opacity(0); .hidden; }
.inputFileWrapper{ .relative; height: 42px; overflow: hidden; width: 100%; }
.inputFile{
  .pointer;
  width: 100%; height: 40px;
  margin: 0 0 15px 0;
  color: @text_color;
  .textRight;
  padding: 0;
  &:hover{}
  .file{
    .absolute; z-index: 2;
    top: 2px; right: 0; bottom: 0; left: 0;
    .textLeft;
    padding-right: 0;
    .transition(.1s);
    font-style: normal;
    font-size: 16px;
    span{ .block; margin-right: 130px; overflow: hidden; .ellipsis; line-height: 36px; }
    &.noSelected{
      .regular;
      color: @text_color!important;
    }
  }
  .button{ 
    margin: 0;
    .noShadow;
  }
  &:hover{ .button{ } } 

  @media screen and (max-width: 767px){
    .button{
      max-width: 110px;
      .inlineBlock;
    }
  }
} */

@import "custom-form-elements.less";
@import "gravity.less";
@import "chosen.less";