.gform_wrapper {
  padding: 0;
  form{ .relative; z-index: 3; }
  ul{ 
    .noStyleList; .textLeft;
    li:before{ content: none; }
  }
  .gform_heading{
    .textLeft; margin-bottom: 30px;
    h3{ color: @blue_dark; }
  }
  .gform_fields {
    .relative;
    li.gfield {
      width: 100%;
      margin-bottom: 30px;
      input[type=email], input[type=text], textarea, select, .select, .inputFileWrapper, .chosen-container{
        width: 100% !important;
        margin: 10px 0 0 0;
      }
      input[type=email], input[type=text], textarea{
        background: white;
      }
      textarea{ height: 160px !important; }
      // .gfield_label{ .hidden; }
      .validation_message{
        margin-top: 10px;
      }
      &.gform_validation_container{ .hidden; } // Honey pot
      .gfield_description{
        font-size: .8em; .italic;
        line-height: 1.3em;
      }
      &.gfield_error{
        .validation_message{
          color: @error;
        }
      }
      &.gfield_visibility_hidden{ display: none!important; }
      &.gfield_file_wrapper{
        max-width: 803px;
        .gfield_description{ margin-top: 10px; }
      }
      &.keepLabel{
        margin-bottom: 20px;
        .gfield_label{
          .block;
          font-size: 18px;
          margin: 20px 0 5px 0;
          .relative; // top: 13px;
        }
        input{
          margin-top: 0;
          height: auto;
          .bold;
        }
      }
      &:not(.keepLabel){
        .gfield_label{ .hidden; }
        margin-bottom: 10px;
      }
      &.hidden{ display: none !important; }
    }
    &:before{
      content: '* Champs obligatoires';
      font-size: 12px; color: black;
      .block; margin-bottom: 20px; .textRight;
      @media screen and (max-width: 449px){
        .relative; top: 55px;
      }
    }
  }
  .gform_footer{
    .clear;
    .textRight;
    padding: 20px 0 0 0;
    .button{
      min-width: 200px;
      .right;
      margin-top: 0px;
    }
    .gform_ajax_spinner{ display: none!important; }
  }
  
  div.validation_error{
    border: none!important;
    font-weight: normal!important;
    color: @error!important;
    margin: 0 0 25px 0!important;
    width: 100%!important;
    .textCenter;
    line-height: 120%;
  }
  @media screen and (min-width: 992px){
    max-width: 803px;
  }
  &:after{
    content: ''; .block; .clear;
  }
}

.gform_confirmation_message{
  .textCenter;
  padding: 30px 0;
  font-size: 1.5em;
}