// Vars
@cols: 12;
@gutter: 20px;
@container-width: 100%;

@s:~"only screen and (max-width: 767px)";
@m:~"only screen and (max-width: 991px)";
@l:~"only screen and (max-width: 1239px)";

// Loops for spaces and padding
.for(@list, @code) {
    & {
        .loop(@i:1) when (@i =< length(@list)) {
            @value: extract(@list, @i);
            @code();
            .loop(@i + 1);
        }
        .loop();
    }
}

// Loop for responsive breakpoints
.generateResponsiveCols(@counter, @media) when (@counter > 0) {
  @width: (@counter / @cols ) * 100;
	.col-@{media}-@{counter} {
      flex-basis: ~"@{width}%";
      max-width: ~"@{width}%";
	}

  .col-offset-@{media}-@{counter} {
    margin-left: ~"@{width}%";
	}
  .generateResponsiveCols((@counter - 1), @media);
}

// Loop for normal cols
.generateCols(@counter) when (@counter > 0) {
  @width: (@counter / @cols ) * 100;
  .col-@{counter} {
    flex-basis: ~"@{width}%";
    max-width: ~"@{width}%";
  }

  .col-offset-@{counter} {
    margin-left: ~"@{width}%";
  }
  .generateCols(@counter - 1);
}

// Grid

.row,
.column {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-right: -@gutter / 2;
  margin-left: -@gutter / 2;

  &.no-wrap {
    flex-wrap: nowrap;
  }

  [class^="col-"] {
      box-sizing: border-box;
      flex-grow: 0;
      flex-shrink: 0;
      padding-right: @gutter / 2;
      padding-left: @gutter / 2;
  }

  .generateCols(@cols);

  .col-s-hidden,
  .col-m-hidden,
  .col-l-hidden {
    display: block;
  }

  .col-hidden {
    display: none;
  }

  @media @l {
      .generateResponsiveCols(@cols, l);

    .col-s-hidden,
    .col-m-hidden,
    .col-hidden {
      display: block;
    }

    .col-l-hidden {
      display: none;
    }
  }

  @media @m {
      .generateResponsiveCols(@cols, m);

    .col-s-hidden,
    .col-l-hidden,
    .col-hidden {
      display: block;
    }

    .col-m-hidden {
      display: none;
    }
  }

  @media @s {
      .generateResponsiveCols(@cols, s);

    .col-m-hidden,
    .col-l-hidden,
    .col-hidden {
      display: block;
    }

    .col-s-hidden {
      display: none;
    }
  }
}

.row {
  flex-direction: row;

  &.reverse {
    flex-direction: row-reverse;;
  }
}

.column {
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;;
  }
}

[class*="items-"],
[class*="justify-"] {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}