.h1_style, .h2_style, .h3_style, .h4_style{
    .poppins; .medium;
    a{
        text-decoration: none!important;
        &:hover, &:hover span{ color: @orange!important; }
    }
  }
      
  .h1_style{
    font-size: 32px; .bold; .uppercase;
    margin: 0 0 25px 0;
    line-height: 1.1em;
    letter-spacing: 1px;
    @media screen and (max-width: 991px){ font-size: 28px; }
  }
  
  .h2_style{
    font-size: 28px; .bold;
    color: @blue;
    margin: 30px 0 30px 0;
    line-height: 1.2em;
    letter-spacing: 0;
    padding-bottom: 0; border-bottom: 0;
    +.sep{ margin: 40px 0; }
    @media screen and (max-width: 991px){ font-size: 22x; }
  }
  
  .h3_style{
    font-size: 22px; .bold;
    margin: 20px 0 15px 0;
    line-height: 1.2em;
    .block;
    @media screen and (max-width: 991px){ font-size: 20px; }
  }
  
  .h4_style{
    font-size: 20px;
    margin: 20px 0 20px 0;
    line-height: 120%;
    color: @blue;
    .block; letter-spacing: 1px;
    @media screen and (max-width: 991px){ font-size: 20px; }
  }
  
  .h5_style{
    font-size: 17px; .bold;
    margin: 20px 0 3px 0;
    line-height: 140%;
    padding-bottom: 0; border-bottom: 0;
    +p{ margin-top: 3px; }
  }
  
  .h6_style{
    .sansSerif; font-size: 17px; .semiBold;
    margin: 20px 0 3px 0;
    line-height: 140%;
    padding-bottom: 0; border-bottom: 0;
    +p{ margin-top: 3px; }
  }
  
  h1{ .h1_style; }
  h2:not(.h3):not(.h1){ .h2_style; }
  h3:not(.h2):not(.h4){ .h3_style; }
  h4:not(.h3){ .h4_style; }
  h5:not(.h4){ .h5_style; }
  
  .contentIntro {
    font-size: 20px; .bold;
    line-height: 1.4em;
    p{ line-height: 1.4em; margin: 5px 0; }
  }
  
  h2+h3:not(.h2):not(.h4), .h2+.h3{ margin-top: 10px; }
  h2.noMargin, h3.noMargin, h4.noMargin{ +p{ margin-top: 5px; } }
  
  .h1{ .h1_style; }
  .h2{ .h2_style; }
  .h3{ .h3_style; }
  .h4{ .h4_style; }
  .h5{ .h5_style; }
  
  .h2Small{ .h2_style; font-size: 30px; }
  
  h6{
    font-size: 20px;
    .regular;
    margin: 20px 0 5px 0;
    +p{ margin: 5px 0; }
  }
  
  h1, .h1{
    &.large{ font-size: 43px; }
  }