#popupWrapper{
  .fixed; 
  .hidden;
  z-index: 9999;
  top: 0; right: 0; bottom: 0; left: 0;
  background: @black_transp;
  .popup{
    .fixed; .boxShadowLight;
    z-index: 9999;
    left: 50%; top: 50%;
    .translate(-50%, -50%);
    .transform(translate(-50%, -50%) scale(0) );
    width: 96%; max-width: 850px;
    max-height: 96%; 
    overflow: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { .hidden; }
    /* .popupScroll{
      .absolute;
      top: 50px; right: 43px;
      bottom: 50px; left: 43px;
      overflow: auto;
    } */
    .transition(.3s);
    background-color: white;
    .rounded(12px);
    padding: 50px 43px;
    .textLeft;
    iframe{
      width: 100%; height: 430px;
    }
    .close{
      .absolute; .noUnderline;
      top: 15px; right: 15px;
      &:hover{
        svg{
          path{
            stroke: @orange;
          }
        }
      }
    }
    .gform_confirmation_message{
      font-size: 1.1em; .bold;
    }
  }
  &.loading .popup{
    min-height: 150px;
    .svgLoadersPoints;
    background-color: white !important;
  }
  @media screen and (min-width: 768px){
    .newsletterBlock .pageInner {
      padding-top: 18px;
      padding-bottom: 10px;
      /* width: auto;
      max-width: 900px; */
    }
  }
  @media screen and (max-width: 767px){
    .popup{
      padding: 50px 15px 15px 15px;
      .close{
        // top: -40px; right: 5px;
      }
    }
    .newsletterBlock .pageInner {
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
}
  body.popupOpened{
    overflow: hidden;
    #popupWrapper{
      .block;
      .popup{
        .transform(translate(-50%, -50%) scale(1) );
      }
    }
  }
  body[data-popup-class=acceptation]{
    #popupWrapper .popup .close{ display: none !important; }
  }

.popContent{ display: none !important; }
.popup .popContent{ display: block !important; }

.downloadLinks{
  margin: 20px 0;
  font-size: 1.2em;
  line-height: 1.5em;
  a{
    .block; .textCenter;
  }
}