#respMenuWrapper, #respMenuButton{ .hidden; }

@media screen and (max-width: 991px){
  #mainNavWrapper{ .hidden; }
  #respMenuButton {
    .block; .fixed; z-index: 999999;
    top: 43px; right: 15px;
    line-height: 18px;
    font-size: 18px;
    padding: 5px 0;
    width: 52px; height: 44px;
    .borderBox;
    overflow: hidden;
    color: @menu_button_color;
    .transition(.2s);
    .uppercase; .noOutline;
    background: white;
    .rounded(3px);
    i{
    line-height: 44px;
    font-size: 14px;
    .pointer; .inlineBlock; .noOutline;
    width: 35px; height: 27px;
    margin: 0;
    padding: 6px 0 4px 0;
    .middle;
    span {
      margin: 0 auto;
      top: 10px;
      position: relative;
      &:before, &:after {
      position: absolute;
      content: '';
      }
      &:before {
      margin-top: -10px;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: .2s;
      -webkit-transition-delay: .2s, 0;
      -moz-transition-property: margin, -moz-transform;
      -moz-transition-duration: .2s;
      -moz-transition-delay: .2s, 0;
      -ms-transition-property: margin, -ms-transform;
      -ms-transition-duration: .2s;
      -ms-transition-delay: .2s, 0;
      -o-transition-property: margin, -o-transform;
      -o-transition-duration: .2s;
      -o-transition-delay: .2s, 0;
      transition-property: margin, transform;
      transition-duration: .2s;
      transition-delay: .2s, 0;
      }
      &:after {
      margin-top: 10px;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: .2s;
      -webkit-transition-delay: .2s, 0;
      -moz-transition-property: margin, -moz-transform;
      -moz-transition-duration: .2s;
      -moz-transition-delay: .2s, 0;
      -ms-transition-property: margin, -ms-transform;
      -ms-transition-duration: .2s;
      -ms-transition-delay: .2s, 0;
      -o-transition-property: margin, -o-transform;
      -o-transition-duration: .2s;
      -o-transition-delay: .2s, 0;
      transition-property: margin, transform;
      transition-duration: .2s;
      transition-delay: .2s, 0;
      }
    }
    span, span:before, span:after {
      width: 32px; height: 2px;
      .rounded(5px);
      .block; background: @menu_button_color;
    }
    }
    &:hover{
    span, span:before, span:after {
      /* background: @orange; */
    }
    }
  }
    .scrolled{
      #respMenuButton {
      }
    }
  
  #respMenuWrapper{
    .fixed; .block;
    z-index: 99999;
    top: 0; bottom: 0; left: -110%;
    width: 350px;
    .transition(.2s);
    padding-top: 40px;
    background: @orange;
    ul li a{ border-bottom-color: @grey_vlight; }
    ul.menu{
      .noStyleList; 
      > li{
        padding: 0;
        .relative;
        margin-top: -1px;
        a{
          .block;
          padding: 10px 7px;
          line-height: 110%;
          font-size: 20px;
          .regular;
          .noOutline; .noUnderline;
          color: white!important;
          i{ margin-right: 10px; }
          svg{
            height: 24px;
            path{
              fill: white !important;
            }
          }
        }
        &.current-menu-item a, a:hover, a:active{
          color: @blue !important;
          svg{
            path{
              fill: @blue !important;
            }
          }
        }
        ul.sub-menu{
          .noStyleList; 
          margin: 5px 0 10px 0;
          li{
            a{
              text-transform: none;
              padding: 4px 7px;
              font-size: 16px;
            }
          }
          ul.sub-menu{ .hidden; }
        }
        &.homeLink{
          a{ 
            svg{
              path{
                fill: white;
              }
            }
          }
        }
        &.noMobileMenu{ .hidden; }
        &.current-menu-item>a{}
      }
      &.mainMenu{
        margin-bottom: 15px;
      }
      &#topRightMenu{
        .inlineBlockList;
        margin-top: 15px;
      }
    }
    .searchWrapper{
      .relative; top: -3px;
      margin: 25px 15px 15px 15px;
      input[type=search]{
        color: white;
        .placeholder(white);
        border-color: white;
        &:focus{
          .placeholder(fade(white, 70%));
        }
      }
      button{
        svg{
          path, circle{ stroke: white; }
        }
      }
    }
  }
    /* body.scrolled{ #respMenuButton{ top: 1px; } #mainLogo{ .relative; top: 22px; } } */
    body.admin-bar{ #respMenuButton{ top: 59px; } }
    body.admin-bar.scrolled{ #respMenuButton{ top: 1px; } }
    
    /* .scrolled #header{ height: 55px; top: 0!important; }
    .scrolled #mainContent{ padding-top: 55px; } */
  
  .menuOpened{
    overflow: hidden;
    #header{ width: 100%; }
    #respMenuButton{
      i{
        span {
          background-color: rgba(255,255,255,0.0);
          &:before {
            margin-top: 0;
            -webkit-transform: rotate(45deg);
            -webkit-transition-delay: 0, .2s;
            -moz-transform: rotate(45deg);
            -moz-transition-delay: 0, .2s;
            -ms-transform: rotate(45deg);
            -ms-transition-delay: 0, .2s;
            -o-transform: rotate(45deg);
            -o-transition-delay: 0, .2s;
            transform: rotate(45deg);
            transition-delay: 0, .2s;
          }
          &:after {
            margin-top: 0;
            -webkit-transform: rotate(-45deg);
            -webkit-transition-delay: 0, .2s;
            -moz-transform: rotate(-45deg);
            -moz-transition-delay: 0, .2s;
            -ms-transform: rotate(-45deg);
            -ms-transition-delay: 0, .2s;
            -o-transform: rotate(-45deg);
            -o-transition-delay: 0, .2s;
            transform: rotate(-45deg);
            transition-delay: 0, .2s;
          }
        }
      }
    }    
    #respMenuWrapper{ left: 0!important; .boxShadowLight; }
  }
}

@media screen and (max-width: 767px){
  #respMenuButton{ top: 13px; }
  #respMenuWrapper{
    width: 100%
  }
  .menuOpened{
    #respMenuButton i{
      span:before, span:after {
        // background: white !important;
      }
    }
  }
}