.mOnly, .mtOnly, .tOnly, .noDesktop, .no_desktop { display: none!important; }

@media screen and (max-width: 1140px){
  .xlOnly{ display: none !important; }
}

@media screen and (min-width: 768px) and (max-width: 1240px){
}

@media screen and (min-width: 1025px) and (max-width: 1240px){
}

@media screen and (max-width: 1024px){
  .dOnly{ .hiddenImportant; }
  .mtOnly, .noDesktop{ display: block!important; }
  
  #mainContent{ 
    max-width: 100%;
  }
  
  .comHeight{ .opacity(1); }
}

@media screen and (max-width: 782px){
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .tOnly{ display: block!important; }
  .noTablet, .no_tablet{ display: none!important; }
}

@media screen and (max-width: 767px){
  .mOnly{ display: block!important; }
  .noMobile, .no_mobile{ display: none!important; }

  .button, button, input[type=submit]{
    .block;
    +.button{ margin: 15px 0 0 0; }
  }

  .mCenter{ .textCenter; }
  .mLeft{ .textLeft; }
  .mRight{ .textRight; }
  .mNoPaddingH, .mNoPaddingH>.vc_column-inner{ padding-left: 0!important; padding-right: 0!important; }

  .wpb_row .wpb_row{ padding-left: 15px; padding-right: 15px; }

}

@media screen and (max-width: 500px){
}

@import "responsive_menu.less";