.tabsContent{
  .relative;
  >.tabs{
    .relative;
    margin-bottom: 0;
    width: 100%;
    .table;
    border-collapse: collapse;
    br{ .hidden; }
    >a{
      height: 55px;
      padding: 4px 10px 3px 15px;
      margin: 0;
      font-size: 20px;
      line-height: 22px;
      .regular;
      .tableCell;
      .middle; .textCenter;
      border-bottom: 1px solid @grey_light;
      color: @blue_dark;
      .noUnderline;
      .noOutline;
      .relative;
      &:hover, &.current{
        .noUnderline;
        color: @orange;
      }
      &.current{
        &:before, &:after{
          content: '';
          .absolute;
          bottom: -2px;
          height: 3px;
        }
        &:before{ left: 0; right: 25%; background: @blue; }
        &:after{ right: 0; left: 75%; .orangeGradientBg; }
      }
    }
  }
  >.content{
    display: none;
    padding: 25px 0 0 0;
    // border: 1px solid @grey_light;
    border-top: 0;
    &.current{
      display: block;
    }
  }
  @media screen and (max-width: 767px){
    >.tabs>a{ font-size: 16px; line-height: 1.2em; }
  }
}