@import "swiper.less";

.swiper-button-prev, .swiper-button-next{
  .noOutline; width: 68px; height: 68px; margin-top: -34px;
  background: @blue;
  .rounded(50%);
  .bgContain;
  background-size: auto 25%;
  .transition(.3s);
  .opacity(0);
  &:hover{
    background-color: @orange;
  }
  @media screen and (max-width: 991px){
    width: 34px; height: 34px; margin-top: -17px;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFF'%2F%3E%3C%2Fsvg%3E");
  &:hover{
    // background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f59c00'%2F%3E%3C%2Fsvg%3E");
  }
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFF'%2F%3E%3C%2Fsvg%3E");
  &:hover{
    // background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f59c00'%2F%3E%3C%2Fsvg%3E");
  }
}

.swiper-container{
  &:hover{
    .swiper-button-prev, .swiper-button-next{ .opacity(1); }
  }
  &.homeSlider{
    background: @blue_dark;
    overflow: hidden;
    .transition(.8s);
    .swiper-slide{
      .textCenter;
      .bgCover;
      height: 425px;
      // max-height: 800px;
      .contentWrapper{
        .absolute;
        width: 100%;
        max-width: 1135px;
        left: 50%; .translate(-50%, 0);
        bottom: 40px;
        color: white;
        font-size: 16px;
        // .opacity(0); 
        .textLeft;
        .transition(.6s);
        padding: 0 10px;
        margin: 0;
        .title{
          font-size: 40px; .bold;
          .uppercase;
          color: white;
          margin: 0 0 30px 0;
          .transition(.5s);
          .opacity(0); .relative; top: 150px;
        }
        .content{
          font-size: 20px;
          line-height: 1.4em;
          .poppins; .thin;
          max-width: 800px;
          .transition(.75s);
          .opacity(0); .relative; top: 150px;
        }
        .moreButton{
          margin-top: 20px;
          .transition(.9s);
          .opacity(0); .relative; top: 150px;
        }
        &.dark{
          color: @text_color;
          .title{ color: @text_color; }
        }
      }
      &.swiper-slide-active{
        .title, .content, .moreButton{
          .opacity(1); top: 0;
        }
      }
    }
    @media screen and (max-width: 1140px){
      .swiper-slide{
        .contentWrapper{
          padding: 0 15px;
        }
      }
    }
    @media screen and (max-width: 991px){
      .swiper-slide{
        .contentWrapper{
          .title{
            font-size: 30px;
            margin-bottom: 20px;
          }
          .content{
            font-size: 18px;
            line-height: 1.3em;
          }
        }
      }
      .swiper-button-prev, .swiper-button-next{ .hidden; }
    }
    @media screen and (max-width: 767px){
    }
  }
}