
.socials {
  &.socialShare{
    .noWrap; .noStyleList;
    li{
      margin: 0 !important;
      display: block!important;
      .textCenter;
      a{
        .noUnderline;
        svg{ 
          // width: 28px; height: auto;
          // .block;
          margin: 5px 0;
        }
        &:hover{
          svg{
            path:first-child, circle{
              fill: @blue;
            }
          }
        }
      }
    }
  }
  &.socialLinks{
    a{
      .inlineBlock; .middle;
      .icon{
        width: 25px;
        .textCenter;
        .inlineBlock; .middle;
        svg{
          max-width: 100%; height: auto;
        }
      }
      + a{ margin-left: 5px; }
      &.facebook:hover .icon svg{
        path:first-child, circle{
          fill: @color_facebook;
        }
      }
      &.github:hover .icon svg{
        >path{
          fill: @color_github !important;
        }
      }
      &.linkedin:hover .icon svg{
        path:first-child, circle{
          fill: @color_linkedin;
        }
      }
      &.snapchat:hover .icon svg{
        path:first-child, circle{
          fill: @color_snapchat;
        }
      }
      &.instagram:hover .icon svg{
        > path:first-child, circle{
          fill: @color_instagram;
        }
      }
      &.twitter:hover .icon svg{
        path:first-child, circle{
          fill: @color_twitter;
        }
      }
      &.youtube:hover .icon svg{
        > path, circle{
          fill: @color_youtube !important;
        }
      }
    }
  }
}

.socialsShareWrapper{
  .relative;
  width: 24px;
  .open{
    color: white;
    .noOutline;
  }
  .open:hover, &.opened .open{
    svg{ 
      path{
        stroke: @orange !important;
      }
      circle{
        fill: @orange !important;
      }
    }
  }
  ul.socialShare{
    // .inlineBlockList;
    .hidden; .absolute; .opacity(0); .scale(0); .transition(.1s);
    top: 38px;
    left: 50%; margin-left: -24px;
    background: white;
    padding: 9px 10px !important;
    .rounded(8px);
    .boxShadowvLarge;
    li{
      a{
        svg{
          .block;
          margin: 8px 0;
          width: 28px;
          path:first-child, circle{
            fill: @orange;
          }
        }
      }
    }
  }
  &.opened{
    ul.socialShare{ .inlineBlock; .opacity(1); .scale(1); }
  }
  @media screen and (max-width: 1139px){}
  @media screen and (max-width: 991px){}
}
    .csstransforms .socialsShareWrapper ul.socialShare{ .inlineBlock; }