.spreIframePlayerWrapper{
  width: 100%;
  max-width: 100%;
  .textCenter;
  .relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: @grey_vlight;
  .rounded(8px);
  .cover{
    .block; .absoluteFull;
    z-index: 999;
    .bgCover;
    svg{
      .absolute; z-index: 2;
      top: 50%; left: 50%;
      .block;
      width: 60px; height: auto;
      margin-top: -18px;
      margin-left: -30px;
      font-size: 50px;
      .transition(.2s);
      // .opacity(.7);
      .rotation(-90deg);
    }
    &:after{
      content: ''; .block;
      .absoluteFull; z-index: 1;
      background: fade(black, 50);
      .opacity(0); .transition(.2s);
    }
    &:hover{
      svg{
        path{ stroke: white; }
      }
      &:after{
        .opacity(1);
      }
    }
  }
  iframe{
    .absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 100%;
  }
}