.vc_section, .pagePart{
  @media screen and (min-width: 992px){
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (max-width: 767px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.vc_row, .vc_section, .pagePart{
  &.green_bg{ .greenBg; }
  &.blue_light_bg{ .blueLightBg; }
  &.grey_light_bg{ .greyLightBg; }
  
  &.shadow_top{
    .relative;
    .shadowTop;
  }
  &.shadow_bottom{
    .relative;
    .shadowBottom;
  }
}
.wpb_single_image .vc_figure .vc_figure-caption{ margin-top: 15px; }