.mce-panel.mce-floatpanel{ z-index: 999999!important; }

/* .customShortCodeLink{
  i{ background: none; }
  &:before {
    font-family: dashicons;
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 -39px;
    color: @orange;
  }
}
.vc_shortcode-link#news{
  .customShortCodeLink;
  &:before { content: "\f508"; }
}
.vc_shortcode-link#block{
  .customShortCodeLink;
  &:before { content: "\f478"; }
}
.vc_shortcode-link#citation{
  .customShortCodeLink;
  &:before { content: "\f122"; }
}
.vc_shortcode-link#map{
  .customShortCodeLink;
  &:before { content: "\f231"; }
} */


.customShortCodeLinkIcon{
  background: none;
  font-style: normal;
  &:before {
    font-family: dashicons;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    color: #0090DF;
  }
}
.vc_element-icon.news{
  .customShortCodeLinkIcon;
  &:before { content: "\f337"; }
}
.vc_element-icon.block{
  .customShortCodeLinkIcon;
  &:before { content: "\f478"; }
}
.vc_element-icon.citation{ /* format-quote */
  .customShortCodeLinkIcon;
  &:before { content: "\f122"; }
}
.vc_element-icon.map{
  .customShortCodeLinkIcon;
  &:before { content: "\f231"; }
}
.vc_element-icon.figure{
  .customShortCodeLinkIcon;
  &:before { content: "\f128"; }
}
.vc_element-icon.gallery{
  .customShortCodeLinkIcon;
  &:before { content: "\f161"; }
}
.vc_element-icon.slider{
  .customShortCodeLinkIcon;
  &:before { content: "\f181"; }
}
.vc_element-icon.product{
  .customShortCodeLinkIcon;
  &:before { content: "\f312"; }
}
.vc_element-icon.options{ /* screenoptions */
  .customShortCodeLinkIcon;
  &:before { content: "\f533"; }
}
.vc_element-icon.star{
  .customShortCodeLinkIcon;
  &:before { content: "\f155"; }
}
.vc_element-icon.share, .vc_element-icon.social{ /* share */
  .customShortCodeLinkIcon;
  &:before { content: "\f237"; }
}
.vc_element-icon.events{
  .customShortCodeLinkIcon;
  &:before { content: "\f508"; }
}
.vc_element-icon.applications{
  .customShortCodeLinkIcon;
  &:before { content: "\f180"; }
}
.vc_element-icon.tutorial, .vc_element-icon.award{
  .customShortCodeLinkIcon;
  &:before { content: "\f118"; }
}
.vc_element-icon.info{
  .customShortCodeLinkIcon;
  &:before { content: "\f348"; }
}
.vc_element-icon.publication{
  .customShortCodeLinkIcon;
  &:before { content: "\f331"; }
}
.vc_element-icon.team{
  .customShortCodeLinkIcon;
  &:before { content: "\f307"; }
}
.vc_element-icon.partner{
  .customShortCodeLinkIcon;
  &:before { content: "\f323"; }
}
.vc_element-icon.page{ /* format-aside */
  .customShortCodeLinkIcon;
  &:before { content: "\f123"; }
}
.vc_element-icon.job{ /* businessman */
  .customShortCodeLinkIcon;
  &:before { content: "\f338"; }
}
.vc_element-icon.contact, .vc_element-icon.newsletter{ /* email-alt */
  .customShortCodeLinkIcon;
  &:before { content: "\f466"; }
}
.vc_element-icon.sep{ /* minus */
  .customShortCodeLinkIcon;
  &:before { content: "\f460"; }
}
.vc_element-icon.video{ /* video-alt3 */
  .customShortCodeLinkIcon;
  &:before { content: "\f236"; }
}
.vc_element-icon.episode{ /* format-video */
  .customShortCodeLinkIcon;
  &:before { content: "\f126"; }
}
.vc_element-icon.title{ /* editor-code */
  .customShortCodeLinkIcon;
  &:before { content: "\f475"; }
}
.vc_element-icon.folder{ /* archive */
  .customShortCodeLinkIcon;
  &:before { content: "\f480"; }
}
.vc_element-icon.search{ /* search */
  .customShortCodeLinkIcon;
  &:before { content: "\f179"; }
}
.vc_element-icon.question{ /* editor-help */
  .customShortCodeLinkIcon;
  &:before { content: "\f223"; }
}
.vc_element-icon.fil{ /* css */
  .customShortCodeLinkIcon;
  &:before { content: "\f303"; }
}
.vc_element-icon.blockContent{ /* editor-table */
  .customShortCodeLinkIcon;
  &:before { content: "\f535"; }
}
.vc_element-icon.idea{ /* lightbulb */
  .customShortCodeLinkIcon;
  &:before { content: "\f339"; }
}
.vc_element-icon.annotation, .vc_element-icon.block{ /* align-center */
  .customShortCodeLinkIcon;
  &:before { content: "\f134"; }
}
.vc_element-icon.picto{ /* smiley */
  .customShortCodeLinkIcon;
  &:before { content: "\f328"; }
}
.vc_element-icon.btn{ /* admin-links */
  .customShortCodeLinkIcon;
  &:before { content: "\f103"; }
}
.vc_element-icon.imageContent{ /* analytics */
  .customShortCodeLinkIcon;
  &:before { content: "\f183"; }
}
.vc_element-icon.phone{ /* phone */
  .customShortCodeLinkIcon;
  &:before { content: "\f525"; }
}
.vc_element-icon.calculator{ /* smartphone */
  .customShortCodeLinkIcon;
  &:before { content: "\f470"; }
}
.vc_element-icon.schema{ /* admin-customizer */
  .customShortCodeLinkIcon;
  &:before { content: "\f540"; }
}
.vc_element-icon.arrowRight{ /* dashicons-arrow-right-alt */
  .customShortCodeLinkIcon;
  &:before { content: "\f344"; }
}
.vc_element-icon.cart{ /* dashicons-cart */
  .customShortCodeLinkIcon;
  &:before { content: "\f174"; }
}
.vc_element-icon.label, .vc_element-icon.tag{ /* tag */
  .customShortCodeLinkIcon;
  &:before { content: "\f323"; }
}
.vc_element-icon.list{ /* editor-justify */
  .customShortCodeLinkIcon;
  &:before { content: "\f214"; }
}
.vc_element-icon.download{ /* download */
  .customShortCodeLinkIcon;
  &:before { content: "\f316"; }
}
.vc_element-icon.eye{ /* visibility */
  .customShortCodeLinkIcon;
  &:before { content: "\f177"; }
}
.vc_element-icon.steps{ /* image-filter */
  .customShortCodeLinkIcon;
  &:before { content: "\f533"; }
}
.vc_element-icon.hash{ /* smartphone */
  .customShortCodeLinkIcon;
  &:before { font-family: Arial, Helvetica, sans-serif; content: "#"; font-weight: bold; }
}
.vc_element-icon.form{ /* editor-table */
  .customShortCodeLinkIcon;
  &:before { content: "\f535"; }
}
.vc_element-icon.twitter{ /* twitter */
  .customShortCodeLinkIcon;
  &:before { content: "\f301"; }
}
.vc_element-icon.key{ /* admin-network */
  .customShortCodeLinkIcon;
  &:before { content: "\f112"; }
}