
html .mceContentBody {
	max-width: 1200px;
	font-family: 'Open Sans', sans-serif;
}
.subtitle{
  font-size: 160%;
  line-height: 130%;
  font-weight: 600;
}
.contentIntro{
  font-size: 130%;
  line-height: 130%;
  font-weight: 600;
}