@import "includes/base_style.less";

// html{
//   margin: 0; padding: 0;
//   .relative; 
//   // height: 100%;
//   text-rendering: optimizeLegibility !important;
//   -webkit-font-smoothing: antialiased !important;
//   font-smooth:always;
// }

// body{
//   .relative;
//   margin: 0; padding: 0;
//   .center;
//   font-size: 16px;
//   line-height: 150%;
//   -webkit-transition: opacity .1s ease-out;
//   -moz-transition: opacity .1s ease-out;
//   -o-transition: opacity .1s ease-out;
//   transition: opacity .1s ease-out;
//   .opacity(.99);
//   .transition(.1s);
//   max-width: 100%; overflow-x: hidden;
//   min-height: 100%;
//   background-color: @bg_color;
// }
//     body, input, button, select, textarea{ .sansSerif; }
//     body, a{ color: @text_color; }
    
//     a{ .underline; &:hover{ color: @orange; } }

// #header{
//   margin: 0;
//   z-index: 999;
//   .transition(.3s);
//   height: auto;
//   .fixed;
//   top: 0; right: 0; left: 0;
//   .borderBox; .boxShadowvLarge;
//   padding: 20px 0;
//   background: white;
//   .boxShadowvLarge;
//   a{ .noUnderline; }
//   #headerTop{
//   }
//   #headerLogo{
//     width: 190px; height: auto;
//     .block; .left;
//   }
//   #headerMain{
//     width: 100%;
//     .right; width: ~"calc(100% - 220px)";
//     .menu{
//     }
//   }
//   @media screen and (max-width: 991px){
//   }
//   @media screen and (max-width: 767px){
//   }
// }
//   .admin-bar{
//     #header{ top: 32px; }
//   }

// #footer{
//   @media screen and (min-width: 992px){
//   } 
//   @media screen and (max-width: 991px){
//   }
//   @media screen and (min-width: 768px){
//   }
//   @media screen and (max-width: 767px){
//   }
// }
  
// .error404{
// }

// #mainContent{
//   .relative; z-index: 4 ; .transition(.2s);
//   background: white;
//   @media screen and (min-width: 768px) and (max-width: 991px){
//   }
//   @media screen and (max-width: 767px){
//   }
// }
//   .scrolled #mainContent{
//   }

// .pageHeader{
//   .relative;
//   @media screen and (min-width: 992px){
//     .socialsShareWrapper{
//       .absolute;
//       top: 20px; right: 20px;
//     }
//   }
//   @media screen and (max-width: 991px){
//     .socialsShareWrapper{ .right; margin-right: 3px; }
//   }
// }

// .editableContent{
//   .noMarginFirstLast;
//   ul:not([class]){ .bulletsList; }
// }

// .singleContent{
//   padding: 60px 0;
// }

// @import "includes/visual_composer.less";
// @import "includes/short_codes.less";
// @import "includes/socials.less";
// @import "includes/blog.less";
@import "includes/forms.less";
// @import "includes/video.less";
// @import "includes/chosen.less";
// @import "includes/responsive.less";