body.login{
  /* background: url(../images/login_bg.jpg) center center no-repeat; */
  /* background-size: cover;    */
  background: white;
}

#login{ position: relative;  z-index: 2; }

.login form {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
}

.wp-core-ui .button-primary{ text-shadow: none }

.login h1 a{
  background: url(../images/fondation_de_la_route.svg) center center no-repeat;
  background-size: contain;
  width: 245px;
  height: 80px;
  padding-bottom: 35px;
  margin-bottom: 10px;
}

#login a, #backtoblog a, .login label, .login form, #login_error, .login .message{
  color: #180040!important;
}
 
.login form, #login_error, .login .message{
  background: rgba(255, 255, 255, .6)!important;
}

.wp-core-ui .button-primary{
  border: none;
  background: white;
  color: #555;
  float: right;
  text-decoration: none;
  margin: 20px 0 0 20px;
  font-size: 1.25em;
  -webkit-transition: background, 0.35s;
  -ms-transition: background, 0.35s;
  -o-transition: background, 0.35s;
  -transition: background, 0.35s;
  transition: background, 0.35s;
  letter-spacing: 0;
  padding: 0 10px!important;
  text-transform: uppercase;
  -webkit-appearance: none;
  font-weight: normal;
  line-height: 32px!important;
  height: 32px!important;
  border-radius: 0!important;
  -webkit-border-radius: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
    .wp-core-ui .button-primary:hover{
      background: #555;
      color: white;
    }
    
 
.login #nav {
  font-size: 1px;
}
    .login #nav a{
      font-size: 14px;
    }
        .login #nav a:first-child{
          display: none;
        }
        
#wp-auth-check-wrap #wp-auth-check{ padding: 0!important; }