@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.facebook {
  color: #547BBA;
}
.twitter {
  color: #78C9ED;
} 
.linkedin {
  color: #1382C5;
} 
.snapchat {
  color: #FFFC01;
}
.instagram, .email {
  color: #000;
} 
.youtube {
  color: #FF0000;
}

.over-visible {
  overflow: visible!important;
}

.bareme .vc_col-sm-6 {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

u {
  text-decoration: none;
  position: relative;
}

h1 u:after {
  position: absolute;
  content: '';
  height: 13px;
  bottom: 8px;
  left: 10px;
  width: 100%;
  z-index: -10;
  @apply bg-spre-brown_light;
}

h2 u:after {
  position: absolute;
  content: '';
  height: 13px;
  bottom: 2px;
  left: 10px;
  width: 100%;
  z-index: -10;
  @apply bg-spre-brown_ultralight;
}

.footer-pseudo:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  margin-left: 280px; 
  z-index: 1;
  border-top-right-radius: 60px;
  @apply bg-spre-red;
}

.pageInner {
  @apply px-4;
  @apply mx-auto;
  @apply max-w-1100;
}

.form {
  @apply box-content;
  @apply px-6;
  @apply py-10;
  @apply mx-auto;
  @apply bg-white;
  @apply rounded-md;
  @apply shadow-spre;
  @apply text-spre-brown_dark;
}

.form .wpb_text_column {
  @apply text-right;
}

.form .gfield {
  @apply py-4;
}

.form .inline ul.gfield_radio {
  @apply flex;
}

.form ul.gfield_radio li {
  @apply mb-3;
}

.form .inline ul.gfield_radio li {
  @apply mb-0;
  @apply mr-12;
}

.form ul.gfield_radio li input{
  @apply mr-2;
}

.form .gform_footer {
  @apply flex;
  justify-content: flex-end;
}

.form .gfield > label {
  @apply hidden;
}

.form ::placeholder {
  @apply text-spre-brown_dark;
  opacity: 1; /* Firefox */
}

.form .gfield_contains_required .ginput_container_text input,
.form .gfield_contains_required .ginput_container_email input {
  position: relative;
}

.form .gfield_contains_required .ginput_container_text input::after,
.form .gfield_contains_required .ginput_container_email input::after {
  content: " *";
  color: red;
  position: absolute;
  right: 0;
  top: 0;
}

/* .form .gfield_contains_required .ginput_container_text input:-moz-placeholder:after {
  content: " *";
  color: red;  
} */

/* .form .gfield_contains_required .ginput_container_text input::-webkit-input-placeholder:after {
  content: " *";
  color: red;
} */

.form textarea {
  @apply w-full;
  @apply h-32;
  @apply p-3;
  @apply border;
  @apply border-spre-brown_dark;
}

.form .ginput_container_text input,
.form .ginput_container_email input {
  @apply w-full;
  @apply h-10;
  @apply border-b;
  @apply border-spre-brown_dark;
}

.form select {
  @apply w-full;
  @apply h-10;
  @apply border-b;
  @apply border-spre-brown_dark;
}

.form .gform_footer {
  @apply flex;
}
.form .gform_button {
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply py-2;
  @apply text-base;
  @apply font-medium;
  @apply leading-6;
  @apply whitespace-nowrap;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
  @apply border;
  @apply border-transparent;
  @apply rounded-md;
  @apply px-9;
  @apply text-spre-white;
  @apply bg-spre-brown_dark;
}

.form .gform_button:hover {
  @apply bg-spre-brown;
}

@screen sm {
  .form {
    @apply px-10;
  }
}

.form .validation_error {
  @apply py-6;
  @apply text-spre-red;
}

.form .gform_confirmation_message {
  @apply py-24;
}

.form .validation_message {
  @apply py-2;
  @apply text-spre-red;
  @apply italic;
  @apply text-sm;
}

body img.gform_ajax_spinner {
  @apply w-10;
  @apply h-10;
  @apply ml-4;
}

/* @screen lg {
  .pageInner {
    @apply px-0;
  }
} */

@screen sm {
  .pageInner {
    @apply px-0;
  }
}

.vc_tta.vc_general {
  border: none!important;
}

.vc_tta-panel {
  position: relative!important;
  margin-bottom: 1.5rem!important;
}

.vc_tta-panel .vc_tta-panel-heading {
  border-radius: 6px!important;
  background-color: #3C287E!important;
}

.select-chevron {
  background-image: url(/wp-content/themes/spre/assets/images/svg/icons/chevron_down_black.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.vc_tta-panel-title.vc_tta-controls-icon-position-left {
  position: relative;
  z-index: 4;
}

.vc_tta-panel .vc_tta-panel-heading::after {
  content: '';
  position: absolute;
  right: 20px;
  width: 30px;
  height: 20px;
  z-index: 2;
  top: 25px;
  background: url(/wp-content/themes/spre/assets/images/svg/icons/chevron_down.svg);
  background-repeat: no-repeat;
}

.vc_tta-panel.vc_active .vc_tta-panel-heading::after {
  content: '';
  position: absolute;
  right: 20px;
  width: 30px;
  height: 20px;
  z-index: 2;
  top: 25px;
  background: url(/wp-content/themes/spre/assets/images/svg/icons/chevron_up.svg);
  background-repeat: no-repeat;
}

.vc_tta-panel.vc_active .vc_tta-panel-heading {
  background-color: #CC1F2F!important;
}

.vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title>a {
  font-weight: 600!important;
  font-size: 23px!important;
  padding: 1.25rem!important;
  color: white!important;
}

.vc_tta-panel .vc_tta-panel-body {
  padding: 2rem 1.25rem!important;
  background-color: #FFFFFF!important;
  border: none!important;
}

.vc_tta-panel .vc_tta-controls-icon {
  display:none!important;
}

.spre_paragraph {
  @apply text-base;
  @apply font-light;
  @apply leading-1_8;
  @apply text-spre-brown_dark;
}
.spre_section_title_red {
  @apply text-3xl;
  @apply font-semibold;
  @apply leading-normal;
  @apply text-spre-red;
}
.spre_h3_title_red {
  @apply font-semibold;
  @apply leading-normal;
  @apply text-xxl;
  @apply text-spre-red;
}
.spre_chapeau {
  @apply text-lg;
  @apply font-normal;
  @apply leading-normal;
  @apply text-spre-brown_dark;
}
.spre_chapeau_purple {
  @apply text-lg;
  @apply font-normal;
  @apply leading-normal;
  @apply text-spre-purple;
}
.menu-menu-principal li.menu-item {
  @apply inline-flex;
  @apply items-center;
  @apply text-base;
  @apply font-semibold;
  @apply leading-6;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
  @apply border-b-2;
  @apply border-transparent;
  @apply text-spre-red;
}
.menu-menu-principal li.menu-item:hover, .menu-menu-principal li.current_page_item {
  @apply border-b-2;
  @apply border-spre-red;
}
.menu-menu-droite li.menu-item {
  @apply inline-flex;
  @apply items-center;
  @apply text-sm;
  @apply font-semibold;
  @apply leading-6;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
  @apply text-spre-brown_dark;
}
.menu-menu-droite li.menu-item:hover {
  @apply underline;
  @apply text-spre-gray_dark;
}
.menu-menu-principal-mobile li.menu-item, .menu-menu-droite-mobile li.menu-item {
  @apply flex;
  @apply items-center;
  @apply p-3;
  @apply -m-3;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
  @apply rounded-md;
}
.menu-menu-principal-mobile li.menu-item:hover, .menu-menu-droite-mobile li.menu-item:hover {
  @apply bg-gray-50;
}
.menu-menu-principal-mobile li.menu-item a {
  @apply w-full;
  @apply text-base;
  @apply font-semibold;
  @apply leading-6;
  @apply text-spre-red;
}
.menu-menu-droite-mobile li.menu-item a {
  @apply w-full;
  @apply text-sm;
  @apply font-semibold;
  @apply leading-6;
  @apply text-spre-brown_dark;
}
footer .menu-footer li.menu-item {
  @apply mb-4;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
}
footer .menu-footer li.menu-item:hover,
footer .menu-footer-bottom li.menu-item:hover,
footer .menu-footer-right1 li.menu-item:hover,
footer .menu-footer-right2 li.menu-item:hover {
  @apply underline;
  @apply text-spre-gray_dark;
}
